[colors]
# Base16 Windows NT Light
# Author: Fergus Collins (https://github.com/C-Fergus)

foreground          = #808080
foreground_bold     = #808080
cursor              = #808080
cursor_foreground   = #ffffff
background          = #ffffff

# 16 color space

# Black, Gray, Silver, White
color0  = #ffffff
color8  = #c0c0c0
color7  = #808080
color15 = #000000

# Red
color1  = #800000
color9  = #800000

# Green
color2  = #008000
color10 = #008000

# Yellow
color3  = #808000
color11 = #808000

# Blue
color4  = #000080
color12 = #000080

# Purple
color5  = #800080
color13 = #800080

# Teal
color6  = #008080
color14 = #008080

# Extra colors
color16 = #ffff00
color17 = #00ff00
color18 = #eaeaea
color19 = #d5d5d5
color20 = #a0a0a0
color21 = #404040
