[colors]
# Base16 Tokyo Night Terminal Dark
# Author: Michaël Ball

foreground          = #787c99
foreground_bold     = #787c99
cursor              = #787c99
cursor_foreground   = #16161e
background          = #16161e

# 16 color space

# Black, Gray, Silver, White
color0  = #16161e
color8  = #444b6a
color7  = #787c99
color15 = #d5d6db

# Red
color1  = #f7768e
color9  = #f7768e

# Green
color2  = #41a6b5
color10 = #41a6b5

# Yellow
color3  = #e0af68
color11 = #e0af68

# Blue
color4  = #7aa2f7
color12 = #7aa2f7

# Purple
color5  = #bb9af7
color13 = #bb9af7

# Teal
color6  = #7dcfff
color14 = #7dcfff

# Extra colors
color16 = #ff9e64
color17 = #d18616
color18 = #1a1b26
color19 = #2f3549
color20 = #787c99
color21 = #cbccd1
