[colors]
# Base16 Atlas
# Author: Alex Lende (https://ajlende.com)

foreground          = #a1a19a
foreground_bold     = #a1a19a
cursor              = #a1a19a
cursor_foreground   = #002635
background          = #002635

# 16 color space

# Black, Gray, Silver, White
color0  = #002635
color8  = #6C8B91
color7  = #a1a19a
color15 = #fafaf8

# Red
color1  = #ff5a67
color9  = #ff5a67

# Green
color2  = #7fc06e
color10 = #7fc06e

# Yellow
color3  = #ffcc1b
color11 = #ffcc1b

# Blue
color4  = #5dd7b9
color12 = #5dd7b9

# Purple
color5  = #9a70a4
color13 = #9a70a4

# Teal
color6  = #14747e
color14 = #14747e

# Extra colors
color16 = #f08e48
color17 = #c43060
color18 = #00384d
color19 = #517F8D
color20 = #869696
color21 = #e6e6dc
