[colors]
# Base16 Atelier Heath Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

foreground          = #695d69
foreground_bold     = #292329
cursor              = #292329
cursor_foreground   = #f7f3f7
background          = rgba(247, 243, 247)

# 16 color space

# Black, Gray, Silver, White
color0  = #f7f3f7
color8  = #9e8f9e
color7  = #695d69
color15 = #1b181b

# Red
color1  = #ca402b
color9  = #ca402b

# Green
color2  = #918b3b
color10 = #918b3b

# Yellow
color3  = #bb8a35
color11 = #bb8a35

# Blue
color4  = #516aec
color12 = #516aec

# Purple
color5  = #7b59c0
color13 = #7b59c0

# Teal
color6  = #159393
color14 = #159393

# Extra colors
color16 = #a65926
color17 = #cc33cc
color18 = #d8cad8
color19 = #ab9bab
color20 = #776977
color21 = #292329
