[colors]
# Base16 Kanagawa
# Scheme author: Tommaso Laurenzi (https://github.com/rebelot)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #dcd7ba
foreground_bold     = #dcd7ba
cursor              = #dcd7ba
cursor_foreground   = #1f1f28
background          = #1f1f28

# 16 color space

# Black, Gray, Silver, White
color0  = #1f1f28
color8  = #54546d
color7  = #dcd7ba
color15 = #717c7c

# Red
color1  = #c34043
color9  = #c34043

# Green
color2  = #76946a
color10 = #76946a

# Yellow
color3  = #c0a36e
color11 = #c0a36e

# Blue
color4  = #7e9cd8
color12 = #7e9cd8

# Purple
color5  = #957fb8
color13 = #957fb8

# Teal
color6  = #6a9589
color14 = #6a9589

# Extra colors
color16 = #ffa066
color17 = #d27e99
color18 = #16161d
color19 = #223249
color20 = #727169
color21 = #c8c093
