[colors]
# Base16 Still Alive
# Author: Derrick McKee (derrick.mckee@gmail.com)

foreground          = #d80000
foreground_bold     = #d80000
cursor              = #d80000
cursor_foreground   = #f0f0f0
background          = #f0f0f0

# 16 color space

# Black, Gray, Silver, White
color0  = #f0f0f0
color8  = #f01818
color7  = #d80000
color15 = #30a860

# Red
color1  = #487830
color9  = #487830

# Green
color2  = #5c5c6a
color10 = #5c5c6a

# Yellow
color3  = #426395
color11 = #426395

# Blue
color4  = #001878
color12 = #001878

# Purple
color5  = #900000
color13 = #900000

# Teal
color6  = #2c3c57
color14 = #2c3c57

# Extra colors
color16 = #183048
color17 = #140c0d
color18 = #f0d848
color19 = #fff018
color20 = #f00000
color21 = #489000
