[colors]
# Base16 Flat
# Author: Chris Kempson (http://chriskempson.com)

foreground          = #e0e0e0
foreground_bold     = #e0e0e0
cursor              = #e0e0e0
cursor_foreground   = #2c3e50
background          = #2c3e50

# 16 color space

# Black, Gray, Silver, White
color0  = #2c3e50
color8  = #95a5a6
color7  = #e0e0e0
color15 = #ecf0f1

# Red
color1  = #e74c3c
color9  = #e74c3c

# Green
color2  = #2ecc71
color10 = #2ecc71

# Yellow
color3  = #f1c40f
color11 = #f1c40f

# Blue
color4  = #3498db
color12 = #3498db

# Purple
color5  = #9b59b6
color13 = #9b59b6

# Teal
color6  = #1abc9c
color14 = #1abc9c

# Extra colors
color16 = #e67e22
color17 = #be643c
color18 = #34495e
color19 = #7f8c8d
color20 = #bdc3c7
color21 = #f5f5f5
