[colors]
# Base16 Resesif16
# Author: Kevin Hamer (hamer.io)

foreground          = #e8e2df
foreground_bold     = #e8e2df
cursor              = #e8e2df
cursor_foreground   = #232323
background          = #232323

# 16 color space

# Black, Gray, Silver, White
color0  = #232323
color8  = #555555
color7  = #e8e2df
color15 = #ffffff

# Red
color1  = #e06868
color9  = #e06868

# Green
color2  = #bbc94d
color10 = #bbc94d

# Yellow
color3  = #dbd768
color11 = #dbd768

# Blue
color4  = #4da6bd
color12 = #4da6bd

# Purple
color5  = #b49cda
color13 = #b49cda

# Teal
color6  = #71bacc
color14 = #71bacc

# Extra colors
color16 = #d98339
color17 = #e8bf6a
color18 = #373737
color19 = #4f4f4f
color20 = #8b8b8b
color21 = #c8cecc
