[colors]
# Base16 Blue Forest
# Author: alonsodomin (https://github.com/alonsodomin)

foreground          = #ffcc33
foreground_bold     = #ffcc33
cursor              = #ffcc33
cursor_foreground   = #141f2e
background          = #141f2e

# 16 color space

# Black, Gray, Silver, White
color0  = #141f2e
color8  = #a0ffa0
color7  = #ffcc33
color15 = #375780

# Red
color1  = #fffab1
color9  = #fffab1

# Green
color2  = #80ff80
color10 = #80ff80

# Yellow
color3  = #91ccff
color11 = #91ccff

# Blue
color4  = #a2cff5
color12 = #a2cff5

# Purple
color5  = #0099ff
color13 = #0099ff

# Teal
color6  = #80ff80
color14 = #80ff80

# Extra colors
color16 = #ff8080
color17 = #e7e7e7
color18 = #1e5c1e
color19 = #273e5c
color20 = #1e5c1e
color21 = #91ccff
