[colors]
# Base16 Primer Dark Dimmed
# Scheme author: Jimmy Lin
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #909dab
foreground_bold     = #909dab
cursor              = #909dab
cursor_foreground   = #1c2128
background          = #1c2128

# 16 color space

# Black, Gray, Silver, White
color0  = #1c2128
color8  = #545d68
color7  = #909dab
color15 = #cdd9e5

# Red
color1  = #f47067
color9  = #f47067

# Green
color2  = #57ab5a
color10 = #57ab5a

# Yellow
color3  = #c69026
color11 = #c69026

# Blue
color4  = #539bf5
color12 = #539bf5

# Purple
color5  = #e275ad
color13 = #e275ad

# Teal
color6  = #96d0ff
color14 = #96d0ff

# Extra colors
color16 = #e0823d
color17 = #ae5622
color18 = #373e47
color19 = #444c56
color20 = #768390
color21 = #adbac7
