[colors]
# Base16 pandora
# Author: Cassandra Fox

foreground          = #f15c99
foreground_bold     = #f15c99
cursor              = #f15c99
cursor_foreground   = #131213
background          = #131213

# 16 color space

# Black, Gray, Silver, White
color0  = #131213
color8  = #ffbee3
color7  = #f15c99
color15 = #632227

# Red
color1  = #b00b69
color9  = #b00b69

# Green
color2  = #9ddf69
color10 = #9ddf69

# Yellow
color3  = #ffcc00
color11 = #ffcc00

# Blue
color4  = #008080
color12 = #008080

# Purple
color5  = #a24030
color13 = #a24030

# Teal
color6  = #714ca6
color14 = #714ca6

# Extra colors
color16 = #ff9153
color17 = #a24030
color18 = #2f1823
color19 = #472234
color20 = #9b2a46
color21 = #81506a
