[colors]
# Base16 Rosé Pine
# Author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;

foreground          = #e0def4
foreground_bold     = #e0def4
cursor              = #e0def4
cursor_foreground   = #191724
background          = #191724

# 16 color space

# Black, Gray, Silver, White
color0  = #191724
color8  = #555169
color7  = #e0def4
color15 = #c5c3ce

# Red
color1  = #e2e1e7
color9  = #e2e1e7

# Green
color2  = #ebbcba
color10 = #ebbcba

# Yellow
color3  = #f6c177
color11 = #f6c177

# Blue
color4  = #9ccfd8
color12 = #9ccfd8

# Purple
color5  = #c4a7e7
color13 = #c4a7e7

# Teal
color6  = #31748f
color14 = #31748f

# Extra colors
color16 = #eb6f92
color17 = #e5e5e5
color18 = #1f1d2e
color19 = #26233a
color20 = #6e6a86
color21 = #f0f0f3
