[colors]
# Base16 Apprentice
# Author: romainl

foreground          = #bcbcbc
foreground_bold     = #bcbcbc
cursor              = #bcbcbc
cursor_foreground   = #262626
background          = #262626

# 16 color space

# Black, Gray, Silver, White
color0  = #262626
color8  = #6c6c6c
color7  = #bcbcbc
color15 = #ffffff

# Red
color1  = #5f8787
color9  = #5f8787

# Green
color2  = #87af87
color10 = #87af87

# Yellow
color3  = #5f8787
color11 = #5f8787

# Blue
color4  = #ffffaf
color12 = #ffffaf

# Purple
color5  = #87afd7
color13 = #87afd7

# Teal
color6  = #5f875f
color14 = #5f875f

# Extra colors
color16 = #ff8700
color17 = #5f87af
color18 = #303030
color19 = #333333
color20 = #787878
color21 = #c9c9c9
