[colors]
# Base16 Gotham
# Author: Andrea Leopardi (arranged by Brett Jones)

foreground          = #599cab
foreground_bold     = #599cab
cursor              = #599cab
cursor_foreground   = #0c1014
background          = #0c1014

# 16 color space

# Black, Gray, Silver, White
color0  = #0c1014
color8  = #0a3749
color7  = #599cab
color15 = #d3ebe9

# Red
color1  = #c23127
color9  = #c23127

# Green
color2  = #33859e
color10 = #33859e

# Yellow
color3  = #edb443
color11 = #edb443

# Blue
color4  = #195466
color12 = #195466

# Purple
color5  = #888ca6
color13 = #888ca6

# Teal
color6  = #2aa889
color14 = #2aa889

# Extra colors
color16 = #d26937
color17 = #4e5166
color18 = #11151c
color19 = #091f2e
color20 = #245361
color21 = #99d1ce
