[colors]
# Base16 Fruit Soda
# Author: jozip

foreground          = #515151
foreground_bold     = #515151
cursor              = #515151
cursor_foreground   = #f1ecf1
background          = #f1ecf1

# 16 color space

# Black, Gray, Silver, White
color0  = #f1ecf1
color8  = #b5b4b6
color7  = #515151
color15 = #2d2c2c

# Red
color1  = #fe3e31
color9  = #fe3e31

# Green
color2  = #47f74c
color10 = #47f74c

# Yellow
color3  = #f7e203
color11 = #f7e203

# Blue
color4  = #2931df
color12 = #2931df

# Purple
color5  = #611fce
color13 = #611fce

# Teal
color6  = #0f9cfd
color14 = #0f9cfd

# Extra colors
color16 = #fe6d08
color17 = #b16f40
color18 = #e0dee0
color19 = #d8d5d5
color20 = #979598
color21 = #474545
