[colors]
# Base16 Kimber
# Author: Mishka Nguyen (https://github.com/akhsiM)

foreground          = #dedee7
foreground_bold     = #dedee7
cursor              = #dedee7
cursor_foreground   = #222222
background          = #222222

# 16 color space

# Black, Gray, Silver, White
color0  = #222222
color8  = #644646
color7  = #dedee7
color15 = #ffffe6

# Red
color1  = #c88c8c
color9  = #c88c8c

# Green
color2  = #99c899
color10 = #99c899

# Yellow
color3  = #d8b56d
color11 = #d8b56d

# Blue
color4  = #537c9c
color12 = #537c9c

# Purple
color5  = #86cacd
color13 = #86cacd

# Teal
color6  = #78b4b4
color14 = #78b4b4

# Extra colors
color16 = #476c88
color17 = #704f4f
color18 = #313131
color19 = #555d55
color20 = #5a5a5a
color21 = #c3c3b4
