[colors]
# Base16 Atelier Savanna Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

foreground          = #526057
foreground_bold     = #526057
cursor              = #526057
cursor_foreground   = #ecf4ee
background          = #ecf4ee

# 16 color space

# Black, Gray, Silver, White
color0  = #ecf4ee
color8  = #78877d
color7  = #526057
color15 = #171c19

# Red
color1  = #b16139
color9  = #b16139

# Green
color2  = #489963
color10 = #489963

# Yellow
color3  = #a07e3b
color11 = #a07e3b

# Blue
color4  = #478c90
color12 = #478c90

# Purple
color5  = #55859b
color13 = #55859b

# Teal
color6  = #1c9aa0
color14 = #1c9aa0

# Extra colors
color16 = #9f713c
color17 = #867469
color18 = #dfe7e2
color19 = #87928a
color20 = #5f6d64
color21 = #232a25
