[colors]
# Base16 Classic Light
# Author: Jason Heeris (http://heeris.id.au)

foreground          = #303030
foreground_bold     = #202020
cursor              = #202020
cursor_foreground   = #F5F5F5
background          = rgba(245, 245, 245)

# 16 color space

# Black, Gray, Silver, White
color0  = #F5F5F5
color8  = #B0B0B0
color7  = #303030
color15 = #151515

# Red
color1  = #AC4142
color9  = #AC4142

# Green
color2  = #90A959
color10 = #90A959

# Yellow
color3  = #F4BF75
color11 = #F4BF75

# Blue
color4  = #6A9FB5
color12 = #6A9FB5

# Purple
color5  = #AA759F
color13 = #AA759F

# Teal
color6  = #75B5AA
color14 = #75B5AA

# Extra colors
color16 = #D28445
color17 = #8F5536
color18 = #E0E0E0
color19 = #D0D0D0
color20 = #505050
color21 = #202020
