[colors]
# base16 Ayu Light
# Scheme author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #5c6773
foreground_bold     = #5c6773
cursor              = #5c6773
cursor_foreground   = #fafafa
background          = #fafafa

color0  = #fafafa # base00 - Black
color1  = #f07178 # base08 - Red
color2  = #86b300 # base0B - Green
color3  = #f2ae49 # base0A - Yellow
color4  = #36a3d9 # base0D - Blue
color5  = #a37acc # base0E - Magenta
color6  = #4cbf99 # base0C - Cyan
color7  = #5c6773 # base05 - White
color8  = #f8f9fa # base02 - Bright Black
color9  = #f07178 # base08 - Bright Red
color10 = #86b300 # base0B - Bright Green
color11 = #f2ae49 # base0A - Bright Yellow
color12 = #36a3d9 # base0D - Bright Blue
color13 = #a37acc # base0E - Bright Magenta
color14 = #4cbf99 # base0C - Bright Cyan
color15 = #1a1f29 # base07 - Bright White
color16 = #fa8d3e # base09
color17 = #e6ba7e # base0F
color18 = #f3f4f5 # base01
color19 = #f8f9fa # base02
color20 = #828c99 # base04
color21 = #242936 # base06
