[colors]
# Base16 Humanoid dark
# Author: Thomas (tasmo) Friese

foreground          = #f8f8f2
foreground_bold     = #f8f8f2
cursor              = #f8f8f2
cursor_foreground   = #232629
background          = #232629

# 16 color space

# Black, Gray, Silver, White
color0  = #232629
color8  = #60615d
color7  = #f8f8f2
color15 = #fcfcfc

# Red
color1  = #f11235
color9  = #f11235

# Green
color2  = #02d849
color10 = #02d849

# Yellow
color3  = #ffb627
color11 = #ffb627

# Blue
color4  = #00a6fb
color12 = #00a6fb

# Purple
color5  = #f15ee3
color13 = #f15ee3

# Teal
color6  = #0dd9d6
color14 = #0dd9d6

# Extra colors
color16 = #ff9505
color17 = #b27701
color18 = #333b3d
color19 = #484e54
color20 = #c0c0bd
color21 = #fcfcf6
