[colors]
# Base16 Equilibrium Light
# Author: Carlo Abelli

foreground          = #43474e
foreground_bold     = #43474e
cursor              = #43474e
cursor_foreground   = #f5f0e7
background          = #f5f0e7

# 16 color space

# Black, Gray, Silver, White
color0  = #f5f0e7
color8  = #73777f
color7  = #43474e
color15 = #181c22

# Red
color1  = #d02023
color9  = #d02023

# Green
color2  = #637200
color10 = #637200

# Yellow
color3  = #9d6f00
color11 = #9d6f00

# Blue
color4  = #0073b5
color12 = #0073b5

# Purple
color5  = #4e66b6
color13 = #4e66b6

# Teal
color6  = #007a72
color14 = #007a72

# Extra colors
color16 = #bf3e05
color17 = #c42775
color18 = #e7e2d9
color19 = #d8d4cb
color20 = #5a5f66
color21 = #2c3138
