[colors]
# Base16 Windows 10 Light
# Author: Fergus Collins (https://github.com/C-Fergus)

foreground          = #767676
foreground_bold     = #767676
cursor              = #767676
cursor_foreground   = #f2f2f2
background          = #f2f2f2

# 16 color space

# Black, Gray, Silver, White
color0  = #f2f2f2
color8  = #cccccc
color7  = #767676
color15 = #0c0c0c

# Red
color1  = #c50f1f
color9  = #c50f1f

# Green
color2  = #13a10e
color10 = #13a10e

# Yellow
color3  = #c19c00
color11 = #c19c00

# Blue
color4  = #0037da
color12 = #0037da

# Purple
color5  = #881798
color13 = #881798

# Teal
color6  = #3a96dd
color14 = #3a96dd

# Extra colors
color16 = #f9f1a5
color17 = #16c60c
color18 = #e5e5e5
color19 = #d9d9d9
color20 = #ababab
color21 = #414141
