[colors]
# Base16 Humanoid light
# Author: Thomas (tasmo) Friese

foreground          = #232629
foreground_bold     = #232629
cursor              = #232629
cursor_foreground   = #f8f8f2
background          = #f8f8f2

# 16 color space

# Black, Gray, Silver, White
color0  = #f8f8f2
color8  = #c0c0bd
color7  = #232629
color15 = #070708

# Red
color1  = #b0151a
color9  = #b0151a

# Green
color2  = #388e3c
color10 = #388e3c

# Yellow
color3  = #ffb627
color11 = #ffb627

# Blue
color4  = #0082c9
color12 = #0082c9

# Purple
color5  = #700f98
color13 = #700f98

# Teal
color6  = #008e8e
color14 = #008e8e

# Extra colors
color16 = #ff3d00
color17 = #b27701
color18 = #efefe9
color19 = #deded8
color20 = #60615d
color21 = #2f3337
