[colors]
# Base16 Equilibrium Gray Light
# Author: Carlo Abelli

foreground          = #474747
foreground_bold     = #474747
cursor              = #474747
cursor_foreground   = #f1f1f1
background          = #f1f1f1

# 16 color space

# Black, Gray, Silver, White
color0  = #f1f1f1
color8  = #777777
color7  = #474747
color15 = #1b1b1b

# Red
color1  = #d02023
color9  = #d02023

# Green
color2  = #637200
color10 = #637200

# Yellow
color3  = #9d6f00
color11 = #9d6f00

# Blue
color4  = #0073b5
color12 = #0073b5

# Purple
color5  = #4e66b6
color13 = #4e66b6

# Teal
color6  = #007a72
color14 = #007a72

# Extra colors
color16 = #bf3e05
color17 = #c42775
color18 = #e2e2e2
color19 = #d4d4d4
color20 = #5e5e5e
color21 = #303030
