[colors]
# Base16 Darcula
# Author: jetbrains

foreground          = #a9b7c6
foreground_bold     = #a9b7c6
cursor              = #a9b7c6
cursor_foreground   = #2b2b2b
background          = #2b2b2b

# 16 color space

# Black, Gray, Silver, White
color0  = #2b2b2b
color8  = #606366
color7  = #a9b7c6
color15 = #ffffff

# Red
color1  = #4eade5
color9  = #4eade5

# Green
color2  = #6a8759
color10 = #6a8759

# Yellow
color3  = #bbb529
color11 = #bbb529

# Blue
color4  = #9876aa
color12 = #9876aa

# Purple
color5  = #cc7832
color13 = #cc7832

# Teal
color6  = #629755
color14 = #629755

# Extra colors
color16 = #689757
color17 = #808080
color18 = #323232
color19 = #323232
color20 = #a4a3a3
color21 = #ffc66d
