[colors]
# Base16 Pasque
# Author: Gabriel Fontes (https://github.com/Misterio77)

foreground          = #dedcdf
foreground_bold     = #dedcdf
cursor              = #dedcdf
cursor_foreground   = #271c3a
background          = #271c3a

# 16 color space

# Black, Gray, Silver, White
color0  = #271c3a
color8  = #5d5766
color7  = #dedcdf
color15 = #bbaadd

# Red
color1  = #a92258
color9  = #a92258

# Green
color2  = #c6914b
color10 = #c6914b

# Yellow
color3  = #804ead
color11 = #804ead

# Blue
color4  = #8e7dc6
color12 = #8e7dc6

# Purple
color5  = #953b9d
color13 = #953b9d

# Teal
color6  = #7263aa
color14 = #7263aa

# Extra colors
color16 = #918889
color17 = #59325c
color18 = #100323
color19 = #3e2d5c
color20 = #bebcbf
color21 = #edeaef
