[colors]
# Base16 Dracula
# Scheme author: Jamy Golden (http://github.com/JamyGolden), based on Dracula Theme (http://github.com/dracula)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #f8f8f2
foreground_bold     = #f8f8f2
cursor              = #f8f8f2
cursor_foreground   = #282a36
background          = #282a36

# 16 color space

# Black, Gray, Silver, White
color0  = #282a36
color8  = #6272a4
color7  = #f8f8f2
color15 = #ffffff

# Red
color1  = #ff5555
color9  = #ff5555

# Green
color2  = #50fa7b
color10 = #50fa7b

# Yellow
color3  = #f1fa8c
color11 = #f1fa8c

# Blue
color4  = #80bfff
color12 = #80bfff

# Purple
color5  = #ff79c6
color13 = #ff79c6

# Teal
color6  = #8be9fd
color14 = #8be9fd

# Extra colors
color16 = #ffb86c
color17 = #bd93f9
color18 = #363447
color19 = #44475a
color20 = #9ea8c7
color21 = #f0f1f4
