[colors]
# Base16 Windows 95
# Author: Fergus Collins (https://github.com/C-Fergus)

foreground          = #a8a8a8
foreground_bold     = #a8a8a8
cursor              = #a8a8a8
cursor_foreground   = #000000
background          = #000000

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #545454
color7  = #a8a8a8
color15 = #fcfcfc

# Red
color1  = #fc5454
color9  = #fc5454

# Green
color2  = #54fc54
color10 = #54fc54

# Yellow
color3  = #fcfc54
color11 = #fcfc54

# Blue
color4  = #5454fc
color12 = #5454fc

# Purple
color5  = #fc54fc
color13 = #fc54fc

# Teal
color6  = #54fcfc
color14 = #54fcfc

# Extra colors
color16 = #a85400
color17 = #00a800
color18 = #1c1c1c
color19 = #383838
color20 = #7e7e7e
color21 = #d2d2d2
