[colors]
# Base16 Equilibrium Gray Dark
# Author: Carlo Abelli

foreground          = #ababab
foreground_bold     = #ababab
cursor              = #ababab
cursor_foreground   = #111111
background          = #111111

# 16 color space

# Black, Gray, Silver, White
color0  = #111111
color8  = #777777
color7  = #ababab
color15 = #e2e2e2

# Red
color1  = #f04339
color9  = #f04339

# Green
color2  = #7f8b00
color10 = #7f8b00

# Yellow
color3  = #bb8801
color11 = #bb8801

# Blue
color4  = #008dd1
color12 = #008dd1

# Purple
color5  = #6a7fd2
color13 = #6a7fd2

# Teal
color6  = #00948b
color14 = #00948b

# Extra colors
color16 = #df5923
color17 = #e3488e
color18 = #1b1b1b
color19 = #262626
color20 = #919191
color21 = #c6c6c6
