[colors]
# Base16 Terracotta
# Scheme author: Alexander Rossell Hayes (https://github.com/rossellhayes)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #473731
foreground_bold     = #473731
cursor              = #473731
cursor_foreground   = #efeae8
background          = #efeae8

# 16 color space

# Black, Gray, Silver, White
color0  = #efeae8
color8  = #c0aca4
color7  = #473731
color15 = #241c19

# Red
color1  = #a75045
color9  = #a75045

# Green
color2  = #7a894a
color10 = #7a894a

# Yellow
color3  = #ce943e
color11 = #ce943e

# Blue
color4  = #625574
color12 = #625574

# Purple
color5  = #8d5968
color13 = #8d5968

# Teal
color6  = #847f9e
color14 = #847f9e

# Extra colors
color16 = #bd6942
color17 = #b07158
color18 = #dfd6d1
color19 = #d0c1bb
color20 = #59453d
color21 = #352a25
