[colors]
# Base16 Catppuccin Latte
# Scheme author: https://github.com/catppuccin/catppuccin
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #4c4f69
foreground_bold     = #4c4f69
cursor              = #4c4f69
cursor_foreground   = #eff1f5
background          = #eff1f5

# 16 color space

# Black, Gray, Silver, White
color0  = #eff1f5
color8  = #bcc0cc
color7  = #4c4f69
color15 = #7287fd

# Red
color1  = #d20f39
color9  = #d20f39

# Green
color2  = #40a02b
color10 = #40a02b

# Yellow
color3  = #df8e1d
color11 = #df8e1d

# Blue
color4  = #1e66f5
color12 = #1e66f5

# Purple
color5  = #8839ef
color13 = #8839ef

# Teal
color6  = #179299
color14 = #179299

# Extra colors
color16 = #fe640b
color17 = #dd7878
color18 = #e6e9ef
color19 = #ccd0da
color20 = #acb0be
color21 = #dc8a78
