[colors]
# Base16 vulcan
# Author: Andrey Varfolomeev

foreground          = #5b778c
foreground_bold     = #5b778c
cursor              = #5b778c
cursor_foreground   = #041523
background          = #041523

# 16 color space

# Black, Gray, Silver, White
color0  = #041523
color8  = #7a5759
color7  = #5b778c
color15 = #214d68

# Red
color1  = #818591
color9  = #818591

# Green
color2  = #977d7c
color10 = #977d7c

# Yellow
color3  = #adb4b9
color11 = #adb4b9

# Blue
color4  = #977d7c
color12 = #977d7c

# Purple
color5  = #9198a3
color13 = #9198a3

# Teal
color6  = #977d7c
color14 = #977d7c

# Extra colors
color16 = #9198a3
color17 = #977d7c
color18 = #122339
color19 = #003552
color20 = #6b6977
color21 = #333238
