[colors]
# Base16 Ashes
# Scheme author: Jannik Siebert (https://github.com/janniks)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #c7ccd1
foreground_bold     = #c7ccd1
cursor              = #c7ccd1
cursor_foreground   = #1c2023
background          = #1c2023

# 16 color space

# Black, Gray, Silver, White
color0  = #1c2023
color8  = #747c84
color7  = #c7ccd1
color15 = #f3f4f5

# Red
color1  = #c7ae95
color9  = #c7ae95

# Green
color2  = #95c7ae
color10 = #95c7ae

# Yellow
color3  = #aec795
color11 = #aec795

# Blue
color4  = #ae95c7
color12 = #ae95c7

# Purple
color5  = #c795ae
color13 = #c795ae

# Teal
color6  = #95aec7
color14 = #95aec7

# Extra colors
color16 = #c7c795
color17 = #c79595
color18 = #393f45
color19 = #565e65
color20 = #adb3ba
color21 = #dfe2e5
