[colors]
# Base16 Horizon Light
# Author: Michaël Ball (http://github.com/michael-ball/)

foreground          = #403C3D
foreground_bold     = #403C3D
cursor              = #403C3D
cursor_foreground   = #FDF0ED
background          = #FDF0ED

# 16 color space

# Black, Gray, Silver, White
color0  = #FDF0ED
color8  = #BDB3B1
color7  = #403C3D
color15 = #201C1D

# Red
color1  = #F7939B
color9  = #F7939B

# Green
color2  = #94E1B0
color10 = #94E1B0

# Yellow
color3  = #FBE0D9
color11 = #FBE0D9

# Blue
color4  = #DA103F
color12 = #DA103F

# Purple
color5  = #1D8991
color13 = #1D8991

# Teal
color6  = #DC3318
color14 = #DC3318

# Extra colors
color16 = #F6661E
color17 = #E58C92
color18 = #FADAD1
color19 = #F9CBBE
color20 = #948C8A
color21 = #302C2D
