[colors]
# Base16 Windows 95 Light
# Author: Fergus Collins (https://github.com/C-Fergus)

foreground          = #545454
foreground_bold     = #545454
cursor              = #545454
cursor_foreground   = #fcfcfc
background          = #fcfcfc

# 16 color space

# Black, Gray, Silver, White
color0  = #fcfcfc
color8  = #a8a8a8
color7  = #545454
color15 = #000000

# Red
color1  = #a80000
color9  = #a80000

# Green
color2  = #00a800
color10 = #00a800

# Yellow
color3  = #a85400
color11 = #a85400

# Blue
color4  = #0000a8
color12 = #0000a8

# Purple
color5  = #a800a8
color13 = #a800a8

# Teal
color6  = #00a8a8
color14 = #00a8a8

# Extra colors
color16 = #fcfc54
color17 = #54fc54
color18 = #e0e0e0
color19 = #c4c4c4
color20 = #7e7e7e
color21 = #2a2a2a
