[colors]
# Base16 lime
# Author: limelier

foreground          = #818175
foreground_bold     = #818175
cursor              = #818175
cursor_foreground   = #1a1a2f
background          = #1a1a2f

# 16 color space

# Black, Gray, Silver, White
color0  = #1a1a2f
color8  = #313140
color7  = #818175
color15 = #fff8e1

# Red
color1  = #ff662a
color9  = #ff662a

# Green
color2  = #8cd97c
color10 = #8cd97c

# Yellow
color3  = #ffd15e
color11 = #ffd15e

# Blue
color4  = #2b926f
color12 = #2b926f

# Purple
color5  = #1b825f
color13 = #1b825f

# Teal
color6  = #4cad83
color14 = #4cad83

# Extra colors
color16 = #ff773a
color17 = #b4d97c
color18 = #202030
color19 = #2a2a3f
color20 = #515155
color21 = #fff2d1
