[colors]
# Base16 Catppuccin Frappe
# Scheme author: https://github.com/catppuccin/catppuccin
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #c6d0f5
foreground_bold     = #c6d0f5
cursor              = #c6d0f5
cursor_foreground   = #303446
background          = #303446

# 16 color space

# Black, Gray, Silver, White
color0  = #303446
color8  = #51576d
color7  = #c6d0f5
color15 = #babbf1

# Red
color1  = #e78284
color9  = #e78284

# Green
color2  = #a6d189
color10 = #a6d189

# Yellow
color3  = #e5c890
color11 = #e5c890

# Blue
color4  = #8caaee
color12 = #8caaee

# Purple
color5  = #ca9ee6
color13 = #ca9ee6

# Teal
color6  = #81c8be
color14 = #81c8be

# Extra colors
color16 = #ef9f76
color17 = #eebebe
color18 = #292c3c
color19 = #414559
color20 = #626880
color21 = #f2d5cf
