[colors]
# Base16 Material
# Author: Nate Peterson

foreground          = #eeffff
foreground_bold     = #eeffff
cursor              = #eeffff
cursor_foreground   = #263238
background          = rgba(i38, 50, 56, 1)

# 16 color space

# Black, Gray, Silver, White
color0  = #263238
color8  = #546e7a
color7  = #eeffff
color15 = #ffffff

# Red
color1  = #f07178
color9  = #f07178

# Green
color2  = #c3e88d
color10 = #c3e88d

# Yellow
color3  = #ffcb6b
color11 = #ffcb6b

# Blue
color4  = #82aaff
color12 = #82aaff

# Purple
color5  = #c792ea
color13 = #c792ea

# Teal
color6  = #89ddff
color14 = #89ddff

# Extra colors
color16 = #f78c6c
color17 = #ff5370
color18 = #2e3c43
color19 = #314549
color20 = #b2ccd6
color21 = #eeffff
