[colors]
# Base16 Classic Light
# Author: Jason Heeris (http://heeris.id.au)

foreground          = #303030
foreground_bold     = #303030
cursor              = #303030
cursor_foreground   = #f5f5f5
background          = #f5f5f5

# 16 color space

# Black, Gray, Silver, White
color0  = #f5f5f5
color8  = #b0b0b0
color7  = #303030
color15 = #151515

# Red
color1  = #ac4142
color9  = #ac4142

# Green
color2  = #90a959
color10 = #90a959

# Yellow
color3  = #f4bf75
color11 = #f4bf75

# Blue
color4  = #6a9fb5
color12 = #6a9fb5

# Purple
color5  = #aa759f
color13 = #aa759f

# Teal
color6  = #75b5aa
color14 = #75b5aa

# Extra colors
color16 = #d28445
color17 = #8f5536
color18 = #e0e0e0
color19 = #d0d0d0
color20 = #505050
color21 = #202020
