[colors]
# Base16 Cupcake
# Author: Chris Kempson (http://chriskempson.com)

foreground          = #8b8198
foreground_bold     = #8b8198
cursor              = #8b8198
cursor_foreground   = #fbf1f2
background          = #fbf1f2

# 16 color space

# Black, Gray, Silver, White
color0  = #fbf1f2
color8  = #bfb9c6
color7  = #8b8198
color15 = #585062

# Red
color1  = #d57e85
color9  = #d57e85

# Green
color2  = #a3b367
color10 = #a3b367

# Yellow
color3  = #dcb16c
color11 = #dcb16c

# Blue
color4  = #7297b9
color12 = #7297b9

# Purple
color5  = #bb99b4
color13 = #bb99b4

# Teal
color6  = #69a9a7
color14 = #69a9a7

# Extra colors
color16 = #ebb790
color17 = #baa58c
color18 = #f2f1f4
color19 = #d8d5dd
color20 = #a59daf
color21 = #72677e
