[colors]
# Base16 Circus
# Author: Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)

foreground          = #a7a7a7
foreground_bold     = #808080
cursor              = #808080
cursor_foreground   = #191919
background          = rgba(25, 25, 25)

# 16 color space

# Black, Gray, Silver, White
color0  = #191919
color8  = #5f5a60
color7  = #a7a7a7
color15 = #ffffff

# Red
color1  = #dc657d
color9  = #dc657d

# Green
color2  = #84b97c
color10 = #84b97c

# Yellow
color3  = #c3ba63
color11 = #c3ba63

# Blue
color4  = #639ee4
color12 = #639ee4

# Purple
color5  = #b888e2
color13 = #b888e2

# Teal
color6  = #4bb1a7
color14 = #4bb1a7

# Extra colors
color16 = #4bb1a7
color17 = #b888e2
color18 = #202020
color19 = #303030
color20 = #505050
color21 = #808080
