[colors]
# Base16 Da One Paper
# Scheme author: NNB (https://github.com/NNBnh)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #181818
foreground_bold     = #181818
cursor              = #181818
cursor_foreground   = #faf0dc
background          = #faf0dc

# 16 color space

# Black, Gray, Silver, White
color0  = #faf0dc
color8  = #585858
color7  = #181818
color15 = #000000

# Red
color1  = #de5d6e
color9  = #de5d6e

# Green
color2  = #76a85d
color10 = #76a85d

# Yellow
color3  = #b3684f
color11 = #b3684f

# Blue
color4  = #5890f8
color12 = #5890f8

# Purple
color5  = #c173d1
color13 = #c173d1

# Teal
color6  = #64b5a7
color14 = #64b5a7

# Extra colors
color16 = #ff9470
color17 = #b3684f
color18 = #c8c8c8
color19 = #888888
color20 = #282828
color21 = #000000
