[colors]
# Base16 Windows 10
# Author: Fergus Collins (https://github.com/C-Fergus)

foreground          = #cccccc
foreground_bold     = #cccccc
cursor              = #cccccc
cursor_foreground   = #0c0c0c
background          = #0c0c0c

# 16 color space

# Black, Gray, Silver, White
color0  = #0c0c0c
color8  = #767676
color7  = #cccccc
color15 = #f2f2f2

# Red
color1  = #e74856
color9  = #e74856

# Green
color2  = #16c60c
color10 = #16c60c

# Yellow
color3  = #f9f1a5
color11 = #f9f1a5

# Blue
color4  = #3b78ff
color12 = #3b78ff

# Purple
color5  = #b4009e
color13 = #b4009e

# Teal
color6  = #61d6d6
color14 = #61d6d6

# Extra colors
color16 = #c19c00
color17 = #13a10e
color18 = #2f2f2f
color19 = #535353
color20 = #b9b9b9
color21 = #dfdfdf
