[colors]
# Base16 Material Vivid
# Author: joshyrobot

foreground          = #B0BEC5
foreground_bold     = #CFD8DC
cursor              = #CFD8DC
cursor_foreground   = #263238
background          = rgba(38, 50, 56)

# 16 color space

# Black, Gray, Silver, White
color0  = #263238
color8  = #546E7A
color7  = #B0BEC5
color15 = #ECEFF1

# Red
color1  = #FF1744
color9  = #FF1744

# Green
color2  = #00E676
color10 = #00E676

# Yellow
color3  = #FFC400
color11 = #FFC400

# Blue
color4  = #2979FF
color12 = #2979FF

# Purple
color5  = #651FFF
color13 = #651FFF

# Teal
color6  = #00B0FF
color14 = #00B0FF

# Extra colors
color16 = #FF9100
color17 = #8D6E63
color18 = #37474F
color19 = #455A64
color20 = #90A4AE
color21 = #CFD8DC
