[colors]
# Base16 Material Lighter 
# Author: Nate Peterson

foreground          = #80cbc4
foreground_bold     = #80cbc4
cursor              = #80cbc4
cursor_foreground   = #fafafa
background          = rgba(250, 250, 250, 1)

# 16 color space

# Black, Gray, Silver, White
color0  = #fafafa
color8  = #ccd7da
color7  = #80cbc4
color15 = #ffffff

# Red
color1  = #ff5370
color9  = #ff5370

# Green
color2  = #91b859
color10 = #91b859

# Yellow
color3  = #ffb62c
color11 = #ffb62c

# Blue
color4  = #6182b8
color12 = #6182b8

# Purple
color5  = #7c4dff
color13 = #7c4dff

# Teal
color6  = #39adb5
color14 = #39adb5

# Extra colors
color16 = #f76d47
color17 = #e53935
color18 = #e7eaec
color19 = #cceae7
color20 = #8796b0
color21 = #80cbc4
