[colors]
# Base16 Brogrammer
# Author: Vik Ramanujam (http://github.com/piggyslasher)

foreground          = #4e5ab7
foreground_bold     = #1081d6
cursor              = #1081d6
cursor_foreground   = #1f1f1f
background          = rgba(31, 31, 31)

# 16 color space

# Black, Gray, Silver, White
color0  = #1f1f1f
color8  = #ecba0f
color7  = #4e5ab7
color15 = #d6dbe5

# Red
color1  = #d6dbe5
color9  = #d6dbe5

# Green
color2  = #f3bd09
color10 = #f3bd09

# Yellow
color3  = #1dd361
color11 = #1dd361

# Blue
color4  = #5350b9
color12 = #5350b9

# Purple
color5  = #0f7ddb
color13 = #0f7ddb

# Teal
color6  = #1081d6
color14 = #1081d6

# Extra colors
color16 = #de352e
color17 = #ffffff
color18 = #f81118
color19 = #2dc55e
color20 = #2a84d2
color21 = #1081d6
