[colors]
# Base16 Deep Oceanic Next
# Scheme author: spearkkk (https://github.com/spearkkk/deep-oceanic-next)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #dce3e8
foreground_bold     = #dce3e8
cursor              = #dce3e8
cursor_foreground   = #003b46
background          = #003b46

# 16 color space

# Black, Gray, Silver, White
color0  = #003b46
color8  = #007a8a
color7  = #dce3e8
color15 = #f0f5f5

# Red
color1  = #e6454b
color9  = #e6454b

# Green
color2  = #85b57a
color10 = #85b57a

# Yellow
color3  = #ffcc66
color11 = #ffcc66

# Blue
color4  = #3a82e6
color12 = #3a82e6

# Purple
color5  = #8c4de6
color13 = #8c4de6

# Teal
color6  = #4da6a6
color14 = #4da6a6

# Extra colors
color16 = #ff6a4b
color17 = #e673a3
color18 = #004f5e
color19 = #006374
color20 = #0093a3
color21 = #e6ebf0
