[colors]
# Base16 Espresso
# Author: Alex Mirrington (https://github.com/alexmirrington)

foreground          = #cccccc
foreground_bold     = #cccccc
cursor              = #cccccc
cursor_foreground   = #2d2d2d
background          = #2d2d2d

# 16 color space

# Black, Gray, Silver, White
color0  = #2d2d2d
color8  = #777777
color7  = #cccccc
color15 = #ffffff

# Red
color1  = #d25252
color9  = #d25252

# Green
color2  = #a5c261
color10 = #a5c261

# Yellow
color3  = #ffc66d
color11 = #ffc66d

# Blue
color4  = #6c99bb
color12 = #6c99bb

# Purple
color5  = #d197d9
color13 = #d197d9

# Teal
color6  = #bed6ff
color14 = #bed6ff

# Extra colors
color16 = #f9a959
color17 = #f97394
color18 = #393939
color19 = #515151
color20 = #b4b7b4
color21 = #e0e0e0
