[colors]
# Base16 Tokyodark
# Scheme author: Tiagovla (https://github.com/tiagovla/)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #abb2bf
foreground_bold     = #abb2bf
cursor              = #abb2bf
cursor_foreground   = #11121d
background          = #11121d

# 16 color space

# Black, Gray, Silver, White
color0  = #11121d
color8  = #393a45
color7  = #abb2bf
color15 = #2c2d38

# Red
color1  = #a485dd
color9  = #a485dd

# Green
color2  = #d7a65f
color10 = #d7a65f

# Yellow
color3  = #7199ee
color11 = #7199ee

# Blue
color4  = #95c561
color12 = #95c561

# Purple
color5  = #ee6d85
color13 = #ee6d85

# Teal
color6  = #a485dd
color14 = #a485dd

# Extra colors
color16 = #a485dd
color17 = #773440
color18 = #151621
color19 = #43444f
color20 = #1b1c27
color21 = #555661
