[colors]
# Base16 PaperColor Light
# Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)

foreground          = #444444
foreground_bold     = #444444
cursor              = #444444
cursor_foreground   = #eeeeee
background          = #eeeeee

# 16 color space

# Black, Gray, Silver, White
color0  = #eeeeee
color8  = #5f8700
color7  = #444444
color15 = #878787

# Red
color1  = #bcbcbc
color9  = #bcbcbc

# Green
color2  = #8700af
color10 = #8700af

# Yellow
color3  = #d70087
color11 = #d70087

# Blue
color4  = #d75f00
color12 = #d75f00

# Purple
color5  = #005faf
color13 = #005faf

# Teal
color6  = #d75f00
color14 = #d75f00

# Extra colors
color16 = #d70000
color17 = #005f87
color18 = #af0000
color19 = #008700
color20 = #0087af
color21 = #005f87
