[colors]
# Base16 Rosé Pine
# Scheme author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #e0def4
foreground_bold     = #e0def4
cursor              = #e0def4
cursor_foreground   = #191724
background          = #191724

# 16 color space

# Black, Gray, Silver, White
color0  = #191724
color8  = #6e6a86
color7  = #e0def4
color15 = #524f67

# Red
color1  = #eb6f92
color9  = #eb6f92

# Green
color2  = #31748f
color10 = #31748f

# Yellow
color3  = #ebbcba
color11 = #ebbcba

# Blue
color4  = #c4a7e7
color12 = #c4a7e7

# Purple
color5  = #f6c177
color13 = #f6c177

# Teal
color6  = #9ccfd8
color14 = #9ccfd8

# Extra colors
color16 = #f6c177
color17 = #524f67
color18 = #1f1d2e
color19 = #26233a
color20 = #908caa
color21 = #e0def4
