[colors]
# Base16 Tokyo City Light
# Scheme author: Michaël Ball
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #343b59
foreground_bold     = #343b59
cursor              = #343b59
cursor_foreground   = #fbfbfd
background          = #fbfbfd

# 16 color space

# Black, Gray, Silver, White
color0  = #fbfbfd
color8  = #9699a3
color7  = #343b59
color15 = #171d23

# Red
color1  = #8c4351
color9  = #8c4351

# Green
color2  = #485e30
color10 = #485e30

# Yellow
color3  = #4c505e
color11 = #4c505e

# Blue
color4  = #34548a
color12 = #34548a

# Purple
color5  = #5a4a78
color13 = #5a4a78

# Teal
color6  = #4c505e
color14 = #4c505e

# Extra colors
color16 = #965027
color17 = #5a4a78
color18 = #f6f6f8
color19 = #edeff6
color20 = #4c505e
color21 = #1d252c
