[colors]
# Base16 One Light
# Author: Daniel Pfeifer (http://github.com/purpleKarrot)

foreground          = #383a42
foreground_bold     = #202227
cursor              = #202227
cursor_foreground   = #fafafa
background          = rgba(250, 250, 250)

# 16 color space

# Black, Gray, Silver, White
color0  = #fafafa
color8  = #a0a1a7
color7  = #383a42
color15 = #090a0b

# Red
color1  = #ca1243
color9  = #ca1243

# Green
color2  = #50a14f
color10 = #50a14f

# Yellow
color3  = #c18401
color11 = #c18401

# Blue
color4  = #4078f2
color12 = #4078f2

# Purple
color5  = #a626a4
color13 = #a626a4

# Teal
color6  = #0184bc
color14 = #0184bc

# Extra colors
color16 = #d75f00
color17 = #986801
color18 = #f0f0f1
color19 = #e5e5e6
color20 = #696c77
color21 = #202227
