[colors]
# Base16 Outrun Dark
# Author: Hugo Delahousse (http://github.com/hugodelahousse/)

foreground          = #D0D0FA
foreground_bold     = #E0E0FF
cursor              = #E0E0FF
cursor_foreground   = #00002A
background          = rgba(0, 0, 42)

# 16 color space

# Black, Gray, Silver, White
color0  = #00002A
color8  = #50507A
color7  = #D0D0FA
color15 = #F5F5FF

# Red
color1  = #FF4242
color9  = #FF4242

# Green
color2  = #59F176
color10 = #59F176

# Yellow
color3  = #F3E877
color11 = #F3E877

# Blue
color4  = #66B0FF
color12 = #66B0FF

# Purple
color5  = #F10596
color13 = #F10596

# Teal
color6  = #0EF0F0
color14 = #0EF0F0

# Extra colors
color16 = #FC8D28
color17 = #F003EF
color18 = #20204A
color19 = #30305A
color20 = #B0B0DA
color21 = #E0E0FF
