[colors]
# Base16 Tokyo City Terminal Dark
# Author: Michaël Ball

foreground          = #d8e2ec
foreground_bold     = #d8e2ec
cursor              = #d8e2ec
cursor_foreground   = #171d23
background          = #171d23

# 16 color space

# Black, Gray, Silver, White
color0  = #171d23
color8  = #526270
color7  = #d8e2ec
color15 = #fbfbfd

# Red
color1  = #d95468
color9  = #d95468

# Green
color2  = #8bd49c
color10 = #8bd49c

# Yellow
color3  = #ebbf83
color11 = #ebbf83

# Blue
color4  = #539afc
color12 = #539afc

# Purple
color5  = #b62d65
color13 = #b62d65

# Teal
color6  = #70e1e8
color14 = #70e1e8

# Extra colors
color16 = #ff9e64
color17 = #dd9d82
color18 = #1d252c
color19 = #28323a
color20 = #b7c5d3
color21 = #f6f6f8
