[colors]
# base16 Deep Oceanic Next
# Scheme author: spearkkk (https://github.com/spearkkk/deep-oceanic-next)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #dce3e8
foreground_bold     = #dce3e8
cursor              = #dce3e8
cursor_foreground   = #003b46
background          = #003b46

color0  = #003b46 # base00 - Black
color1  = #e6454b # base08 - Red
color2  = #85b57a # base0B - Green
color3  = #ffcc66 # base0A - Yellow
color4  = #3a82e6 # base0D - Blue
color5  = #8c4de6 # base0E - Magenta
color6  = #4da6a6 # base0C - Cyan
color7  = #dce3e8 # base05 - White
color8  = #006374 # base02 - Bright Black
color9  = #e6454b # base08 - Bright Red
color10 = #85b57a # base0B - Bright Green
color11 = #ffcc66 # base0A - Bright Yellow
color12 = #3a82e6 # base0D - Bright Blue
color13 = #8c4de6 # base0E - Bright Magenta
color14 = #4da6a6 # base0C - Bright Cyan
color15 = #f0f5f5 # base07 - Bright White
color16 = #ff6a4b # base09
color17 = #e673a3 # base0F
color18 = #004f5e # base01
color19 = #006374 # base02
color20 = #0093a3 # base04
color21 = #e6ebf0 # base06
