[colors]
# Base16 Tokyodark Terminal
# Author: Tiagovla (https://github.com/tiagovla/)

foreground          = #a0a8cd
foreground_bold     = #a0a8cd
cursor              = #a0a8cd
cursor_foreground   = #11121d
background          = #11121d

# 16 color space

# Black, Gray, Silver, White
color0  = #11121d
color8  = #282c34
color7  = #a0a8cd
color15 = #a0a8cd

# Red
color1  = #ee6d85
color9  = #ee6d85

# Green
color2  = #95c561
color10 = #95c561

# Yellow
color3  = #d7a65f
color11 = #d7a65f

# Blue
color4  = #7199ee
color12 = #7199ee

# Purple
color5  = #a485dd
color13 = #a485dd

# Teal
color6  = #38a89d
color14 = #38a89d

# Extra colors
color16 = #f6955b
color17 = #773440
color18 = #1a1b2a
color19 = #212234
color20 = #4a5057
color21 = #a0a8cd
