[colors]
# Base16 Icy Dark
# Author: icyphox (https://icyphox.ga)

foreground          = #095b67
foreground_bold     = #095b67
cursor              = #095b67
cursor_foreground   = #021012
background          = #021012

# 16 color space

# Black, Gray, Silver, White
color0  = #021012
color8  = #052e34
color7  = #095b67
color15 = #109cb0

# Red
color1  = #16c1d9
color9  = #16c1d9

# Green
color2  = #4dd0e1
color10 = #4dd0e1

# Yellow
color3  = #80deea
color11 = #80deea

# Blue
color4  = #00bcd4
color12 = #00bcd4

# Purple
color5  = #00acc1
color13 = #00acc1

# Teal
color6  = #26c6da
color14 = #26c6da

# Extra colors
color16 = #b3ebf2
color17 = #0097a7
color18 = #031619
color19 = #041f23
color20 = #064048
color21 = #0c7c8c
