[colors]
# Base16 OceanicNext
# Author: https://github.com/voronianski/oceanic-next-color-scheme

foreground          = #c0c5ce
foreground_bold     = #c0c5ce
cursor              = #c0c5ce
cursor_foreground   = #1b2b34
background          = #1b2b34

# 16 color space

# Black, Gray, Silver, White
color0  = #1b2b34
color8  = #65737e
color7  = #c0c5ce
color15 = #d8dee9

# Red
color1  = #ec5f67
color9  = #ec5f67

# Green
color2  = #99c794
color10 = #99c794

# Yellow
color3  = #fac863
color11 = #fac863

# Blue
color4  = #6699cc
color12 = #6699cc

# Purple
color5  = #c594c5
color13 = #c594c5

# Teal
color6  = #5fb3b3
color14 = #5fb3b3

# Extra colors
color16 = #f99157
color17 = #ab7967
color18 = #343d46
color19 = #4f5b66
color20 = #a7adba
color21 = #cdd3de
