[colors]
# Base16 ShadeSmear Light
# Author: Kyle Giammarco (http://kyle.giammar.co)

foreground          = #232323
foreground_bold     = #232323
cursor              = #232323
cursor_foreground   = #dbdbdb
background          = #dbdbdb

# 16 color space

# Black, Gray, Silver, White
color0  = #dbdbdb
color8  = #4e4e4e
color7  = #232323
color15 = #e4e4e4

# Red
color1  = #cc5450
color9  = #cc5450

# Green
color2  = #71983b
color10 = #71983b

# Yellow
color3  = #307878
color11 = #307878

# Blue
color4  = #376388
color12 = #376388

# Purple
color5  = #d7ab54
color13 = #d7ab54

# Teal
color6  = #c57d42
color14 = #c57d42

# Extra colors
color16 = #a64270
color17 = #6d6d6d
color18 = #e4e4e4
color19 = #c0c0c0
color20 = #1c1c1c
color21 = #1c1c1c
