[colors]
# Base16 Gruvbox Material Dark, Hard
# Scheme author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #ddc7a1
foreground_bold     = #ddc7a1
cursor              = #ddc7a1
cursor_foreground   = #202020
background          = #202020

# 16 color space

# Black, Gray, Silver, White
color0  = #202020
color8  = #5a524c
color7  = #ddc7a1
color15 = #fbf1c7

# Red
color1  = #ea6962
color9  = #ea6962

# Green
color2  = #a9b665
color10 = #a9b665

# Yellow
color3  = #d8a657
color11 = #d8a657

# Blue
color4  = #7daea3
color12 = #7daea3

# Purple
color5  = #d3869b
color13 = #d3869b

# Teal
color6  = #89b482
color14 = #89b482

# Extra colors
color16 = #e78a4e
color17 = #bd6f3e
color18 = #2a2827
color19 = #504945
color20 = #bdae93
color21 = #ebdbb2
