[colors]
# Base16 Tokyo Night Light
# Author: Michaël Ball

foreground          = #343b59
foreground_bold     = #343b59
cursor              = #343b59
cursor_foreground   = #d5d6db
background          = #d5d6db

# 16 color space

# Black, Gray, Silver, White
color0  = #d5d6db
color8  = #9699a3
color7  = #343b59
color15 = #1a1b26

# Red
color1  = #343b58
color9  = #343b58

# Green
color2  = #485e30
color10 = #485e30

# Yellow
color3  = #166775
color11 = #166775

# Blue
color4  = #34548a
color12 = #34548a

# Purple
color5  = #5a4a78
color13 = #5a4a78

# Teal
color6  = #3e6968
color14 = #3e6968

# Extra colors
color16 = #965027
color17 = #8c4351
color18 = #cbccd1
color19 = #dfe0e5
color20 = #4c505e
color21 = #1a1b26
