[colors]
# Base16 Heetch Dark
# Author: Geoffrey Teale (tealeg@gmail.com)

foreground          = #bdb6c5
foreground_bold     = #bdb6c5
cursor              = #bdb6c5
cursor_foreground   = #190134
background          = #190134

# 16 color space

# Black, Gray, Silver, White
color0  = #190134
color8  = #7b6d8b
color7  = #bdb6c5
color15 = #feffff

# Red
color1  = #27d9d5
color9  = #27d9d5

# Green
color2  = #c33678
color10 = #c33678

# Yellow
color3  = #8f6c97
color11 = #8f6c97

# Blue
color4  = #bd0152
color12 = #bd0152

# Purple
color5  = #82034c
color13 = #82034c

# Teal
color6  = #f80059
color14 = #f80059

# Extra colors
color16 = #5ba2b6
color17 = #470546
color18 = #392551
color19 = #5a496e
color20 = #9c92a8
color21 = #dedae2
