[colors]
# Base16 Silk Dark
# Author: Gabriel Fontes (https://github.com/Misterio77)

foreground          = #c7dbdd
foreground_bold     = #c7dbdd
cursor              = #c7dbdd
cursor_foreground   = #0e3c46
background          = #0e3c46

# 16 color space

# Black, Gray, Silver, White
color0  = #0e3c46
color8  = #587073
color7  = #c7dbdd
color15 = #d2faff

# Red
color1  = #fb6953
color9  = #fb6953

# Green
color2  = #73d8ad
color10 = #73d8ad

# Yellow
color3  = #fce380
color11 = #fce380

# Blue
color4  = #46bddd
color12 = #46bddd

# Purple
color5  = #756b8a
color13 = #756b8a

# Teal
color6  = #3fb2b9
color14 = #3fb2b9

# Extra colors
color16 = #fcab74
color17 = #9b647b
color18 = #1d494e
color19 = #2a5054
color20 = #9dc8cd
color21 = #cbf2f7
