[colors]
# Base16 standardized-dark
# Scheme author: ali (https://github.com/ali-githb/base16-standardized-scheme)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #c0c0c0
foreground_bold     = #c0c0c0
cursor              = #c0c0c0
cursor_foreground   = #222222
background          = #222222

# 16 color space

# Black, Gray, Silver, White
color0  = #222222
color8  = #898989
color7  = #c0c0c0
color15 = #ffffff

# Red
color1  = #e15d67
color9  = #e15d67

# Green
color2  = #5db129
color10 = #5db129

# Yellow
color3  = #e1b31a
color11 = #e1b31a

# Blue
color4  = #00a3f2
color12 = #00a3f2

# Purple
color5  = #b46ee0
color13 = #b46ee0

# Teal
color6  = #21c992
color14 = #21c992

# Extra colors
color16 = #fc804e
color17 = #b87d28
color18 = #303030
color19 = #555555
color20 = #898989
color21 = #e0e0e0
