[colors]
# Base16 selenized-dark
# Scheme author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #adbcbc
foreground_bold     = #adbcbc
cursor              = #adbcbc
cursor_foreground   = #103c48
background          = #103c48

# 16 color space

# Black, Gray, Silver, White
color0  = #103c48
color8  = #72898f
color7  = #adbcbc
color15 = #cad8d9

# Red
color1  = #fa5750
color9  = #fa5750

# Green
color2  = #75b938
color10 = #75b938

# Yellow
color3  = #dbb32d
color11 = #dbb32d

# Blue
color4  = #4695f7
color12 = #4695f7

# Purple
color5  = #af88eb
color13 = #af88eb

# Teal
color6  = #41c7b9
color14 = #41c7b9

# Extra colors
color16 = #ed8649
color17 = #f275be
color18 = #184956
color19 = #2d5b69
color20 = #72898f
color21 = #cad8d9
