[colors]
# Base16 Oxocarbon Dark
# Scheme author: shaunsingh/IBM
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #f2f4f8
foreground_bold     = #f2f4f8
cursor              = #f2f4f8
cursor_foreground   = #161616
background          = #161616

# 16 color space

# Black, Gray, Silver, White
color0  = #161616
color8  = #525252
color7  = #f2f4f8
color15 = #08bdba

# Red
color1  = #3ddbd9
color9  = #3ddbd9

# Green
color2  = #33b1ff
color10 = #33b1ff

# Yellow
color3  = #ee5396
color11 = #ee5396

# Blue
color4  = #42be65
color12 = #42be65

# Purple
color5  = #be95ff
color13 = #be95ff

# Teal
color6  = #ff7eb6
color14 = #ff7eb6

# Extra colors
color16 = #78a9ff
color17 = #82cfff
color18 = #262626
color19 = #393939
color20 = #dde1e6
color21 = #ffffff
