[colors]
# Base16 Synth Midnight Dark
# Author: Michaël Ball (http://github.com/michael-ball/)

foreground          = #DFDBDF
foreground_bold     = #DFDBDF
cursor              = #DFDBDF
cursor_foreground   = #040404
background          = #040404

# 16 color space

# Black, Gray, Silver, White
color0  = #040404
color8  = #61507A
color7  = #DFDBDF
color15 = #FFFBFF

# Red
color1  = #B53B50
color9  = #B53B50

# Green
color2  = #06EA61
color10 = #06EA61

# Yellow
color3  = #DAE84D
color11 = #DAE84D

# Blue
color4  = #03AEFF
color12 = #03AEFF

# Purple
color5  = #EA5CE2
color13 = #EA5CE2

# Teal
color6  = #7CEDE9
color14 = #7CEDE9

# Extra colors
color16 = #E4600E
color17 = #9D4D0E
color18 = #141414
color19 = #242424
color20 = #BFBBBF
color21 = #EFEBEF
