[colors]
# Base16 XCode Dusk 
# Author: 

foreground          = #939599
foreground_bold     = #a9aaae
cursor              = #a9aaae
cursor_foreground   = #282b35
background          = rgba(40, 43, 53, 1)

# 16 color space

# Black, Gray, Silver, White
color0  = #282b35
color8  = #686a71
color7  = #939599
color15 = #bebfc2

# Red
color1  = #b21889
color9  = #b21889

# Green
color2  = #df0002
color10 = #df0002

# Yellow
color3  = #438288
color11 = #438288

# Blue
color4  = #790ead
color12 = #790ead

# Purple
color5  = #b21889
color13 = #b21889

# Teal
color6  = #00a0be
color14 = #00a0be

# Extra colors
color16 = #786dc5
color17 = #c77c48
color18 = #3d4048
color19 = #53555d
color20 = #7e8086
color21 = #a9aaae
