[colors]
# Base16 Tokyo Night Dark
# Author: Michaël Ball

foreground          = #a9b1d6
foreground_bold     = #a9b1d6
cursor              = #a9b1d6
cursor_foreground   = #1a1b26
background          = #1a1b26

# 16 color space

# Black, Gray, Silver, White
color0  = #1a1b26
color8  = #444b6a
color7  = #a9b1d6
color15 = #d5d6db

# Red
color1  = #c0caf5
color9  = #c0caf5

# Green
color2  = #9ece6a
color10 = #9ece6a

# Yellow
color3  = #0db9d7
color11 = #0db9d7

# Blue
color4  = #2ac3de
color12 = #2ac3de

# Purple
color5  = #bb9af7
color13 = #bb9af7

# Teal
color6  = #b4f9f8
color14 = #b4f9f8

# Extra colors
color16 = #a9b1d6
color17 = #f7768e
color18 = #16161e
color19 = #2f3549
color20 = #787c99
color21 = #cbccd1
