[colors]
# Base16 Tango
# Author: @Schnouki, based on the Tango Desktop Project

foreground          = #d3d7cf
foreground_bold     = #d3d7cf
cursor              = #d3d7cf
cursor_foreground   = #2e3436
background          = #2e3436

# 16 color space

# Black, Gray, Silver, White
color0  = #2e3436
color8  = #555753
color7  = #d3d7cf
color15 = #eeeeec

# Red
color1  = #cc0000
color9  = #cc0000

# Green
color2  = #4e9a06
color10 = #4e9a06

# Yellow
color3  = #c4a000
color11 = #c4a000

# Blue
color4  = #3465a4
color12 = #3465a4

# Purple
color5  = #75507b
color13 = #75507b

# Teal
color6  = #06989a
color14 = #06989a

# Extra colors
color16 = #ef2929
color17 = #34e2e2
color18 = #8ae234
color19 = #fce94f
color20 = #729fcf
color21 = #ad7fa8
