[colors]
# Base16 tarot
# Scheme author: ed (https://codeberg.org/ed)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #aa556f
foreground_bold     = #aa556f
cursor              = #aa556f
cursor_foreground   = #0e091d
background          = #0e091d

# 16 color space

# Black, Gray, Silver, White
color0  = #0e091d
color8  = #74316b
color7  = #aa556f
color15 = #dc8f7c

# Red
color1  = #c53253
color9  = #c53253

# Green
color2  = #a68e5a
color10 = #a68e5a

# Yellow
color3  = #ff6565
color11 = #ff6565

# Blue
color4  = #6e6080
color12 = #6e6080

# Purple
color5  = #a45782
color13 = #a45782

# Teal
color6  = #8c9785
color14 = #8c9785

# Extra colors
color16 = #ea4d60
color17 = #984d51
color18 = #2a153c
color19 = #4b2054
color20 = #8c406f
color21 = #c4686d
