[colors]
# Base16 Everforest
# Scheme author: Sainnhe Park (https://github.com/sainnhe)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #d3c6aa
foreground_bold     = #d3c6aa
cursor              = #d3c6aa
cursor_foreground   = #2f383e
background          = #2f383e

# 16 color space

# Black, Gray, Silver, White
color0  = #2f383e
color8  = #859289
color7  = #d3c6aa
color15 = #fdf6e3

# Red
color1  = #7fbbb3
color9  = #7fbbb3

# Green
color2  = #83c092
color10 = #83c092

# Yellow
color3  = #dbbc7f
color11 = #dbbc7f

# Blue
color4  = #a7c080
color12 = #a7c080

# Purple
color5  = #e67e80
color13 = #e67e80

# Teal
color6  = #e69875
color14 = #e69875

# Extra colors
color16 = #d699b6
color17 = #eaedc8
color18 = #374247
color19 = #4a555b
color20 = #9da9a0
color21 = #e4e1cd
