[colors]
# Base16 summercamp
# Author: zoe firi (zoefiri.github.io)

foreground          = #736e55
foreground_bold     = #736e55
cursor              = #736e55
cursor_foreground   = #1c1810
background          = #1c1810

# 16 color space

# Black, Gray, Silver, White
color0  = #1c1810
color8  = #504b38
color7  = #736e55
color15 = #f8f5de

# Red
color1  = #e35142
color9  = #e35142

# Green
color2  = #5ceb5a
color10 = #5ceb5a

# Yellow
color3  = #f2ff27
color11 = #f2ff27

# Blue
color4  = #489bf0
color12 = #489bf0

# Purple
color5  = #FF8080
color13 = #FF8080

# Teal
color6  = #5aebbc
color14 = #5aebbc

# Extra colors
color16 = #fba11b
color17 = #F69BE7
color18 = #2a261c
color19 = #3a3527
color20 = #5f5b45
color21 = #bab696
