[colors]
# Base16 Material Darker
# Author: Nate Peterson

foreground          = #EEFFFF
foreground_bold     = #EEFFFF
cursor              = #EEFFFF
cursor_foreground   = #212121
background          = rgba(33, 33, 33)

# 16 color space

# Black, Gray, Silver, White
color0  = #212121
color8  = #4A4A4A
color7  = #EEFFFF
color15 = #FFFFFF

# Red
color1  = #F07178
color9  = #F07178

# Green
color2  = #C3E88D
color10 = #C3E88D

# Yellow
color3  = #FFCB6B
color11 = #FFCB6B

# Blue
color4  = #82AAFF
color12 = #82AAFF

# Purple
color5  = #C792EA
color13 = #C792EA

# Teal
color6  = #89DDFF
color14 = #89DDFF

# Extra colors
color16 = #F78C6C
color17 = #FF5370
color18 = #303030
color19 = #353535
color20 = #B2CCD6
color21 = #EEFFFF
