[colors]
# Base16 Catppuccin
# Scheme author: Pocco81 (https://github.com/pocco81)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #d7dae0
foreground_bold     = #d7dae0
cursor              = #d7dae0
cursor_foreground   = #1e1e28
background          = #1e1e28

# 16 color space

# Black, Gray, Silver, White
color0  = #1e1e28
color8  = #575268
color7  = #d7dae0
color15 = #c9cbff

# Red
color1  = #f28fad
color9  = #f28fad

# Green
color2  = #abe9b3
color10 = #abe9b3

# Yellow
color3  = #fae3b0
color11 = #fae3b0

# Blue
color4  = #96cdfb
color12 = #96cdfb

# Purple
color5  = #ddb6f2
color13 = #ddb6f2

# Teal
color6  = #b5e8e0
color14 = #b5e8e0

# Extra colors
color16 = #f8bd96
color17 = #f2cdcd
color18 = #1a1826
color19 = #302d41
color20 = #6e6c7c
color21 = #f5e0dc
