[colors]
# Base16 Colors
# Author: mrmrs (http://clrs.cc)

foreground          = #bbbbbb
foreground_bold     = #bbbbbb
cursor              = #bbbbbb
cursor_foreground   = #111111
background          = #111111

# 16 color space

# Black, Gray, Silver, White
color0  = #111111
color8  = #777777
color7  = #bbbbbb
color15 = #ffffff

# Red
color1  = #ff4136
color9  = #ff4136

# Green
color2  = #2ecc40
color10 = #2ecc40

# Yellow
color3  = #ffdc00
color11 = #ffdc00

# Blue
color4  = #0074d9
color12 = #0074d9

# Purple
color5  = #b10dc9
color13 = #b10dc9

# Teal
color6  = #7fdbff
color14 = #7fdbff

# Extra colors
color16 = #ff851b
color17 = #85144b
color18 = #333333
color19 = #555555
color20 = #999999
color21 = #dddddd
