[colors]
# Base16 PaperColor Dark
# Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)

foreground          = #808080
foreground_bold     = #808080
cursor              = #808080
cursor_foreground   = #1c1c1c
background          = #1c1c1c

# 16 color space

# Black, Gray, Silver, White
color0  = #1c1c1c
color8  = #d7af5f
color7  = #808080
color15 = #d0d0d0

# Red
color1  = #585858
color9  = #585858

# Green
color2  = #af87d7
color10 = #af87d7

# Yellow
color3  = #afd700
color11 = #afd700

# Blue
color4  = #ff5faf
color12 = #ff5faf

# Purple
color5  = #00afaf
color13 = #00afaf

# Teal
color6  = #ffaf00
color14 = #ffaf00

# Extra colors
color16 = #5faf5f
color17 = #5f8787
color18 = #af005f
color19 = #5faf00
color20 = #5fafd7
color21 = #d7875f
