[colors]
# Base16 Catppuccin Macchiato
# Scheme author: https://github.com/catppuccin/catppuccin
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #cad3f5
foreground_bold     = #cad3f5
cursor              = #cad3f5
cursor_foreground   = #24273a
background          = #24273a

# 16 color space

# Black, Gray, Silver, White
color0  = #24273a
color8  = #494d64
color7  = #cad3f5
color15 = #b7bdf8

# Red
color1  = #ed8796
color9  = #ed8796

# Green
color2  = #a6da95
color10 = #a6da95

# Yellow
color3  = #eed49f
color11 = #eed49f

# Blue
color4  = #8aadf4
color12 = #8aadf4

# Purple
color5  = #c6a0f6
color13 = #c6a0f6

# Teal
color6  = #8bd5ca
color14 = #8bd5ca

# Extra colors
color16 = #f5a97f
color17 = #f0c6c6
color18 = #1e2030
color19 = #363a4f
color20 = #5b6078
color21 = #f4dbd6
