[colors]
# Base16 Black Metal (Burzum)
# Author: metalelf0 (https://github.com/metalelf0)

foreground          = #c1c1c1
foreground_bold     = #c1c1c1
cursor              = #c1c1c1
cursor_foreground   = #000000
background          = #000000

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #333333
color7  = #c1c1c1
color15 = #c1c1c1

# Red
color1  = #5f8787
color9  = #5f8787

# Green
color2  = #ddeecc
color10 = #ddeecc

# Yellow
color3  = #99bbaa
color11 = #99bbaa

# Blue
color4  = #888888
color12 = #888888

# Purple
color5  = #999999
color13 = #999999

# Teal
color6  = #aaaaaa
color14 = #aaaaaa

# Extra colors
color16 = #aaaaaa
color17 = #444444
color18 = #121212
color19 = #222222
color20 = #999999
color21 = #999999
