[colors]
# Base16 Da One Black
# Scheme author: NNB (https://github.com/NNBnh)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #ffffff
foreground_bold     = #ffffff
cursor              = #ffffff
cursor_foreground   = #000000
background          = #000000

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #888888
color7  = #ffffff
color15 = #ffffff

# Red
color1  = #fa7883
color9  = #fa7883

# Green
color2  = #98c379
color10 = #98c379

# Yellow
color3  = #ff9470
color11 = #ff9470

# Blue
color4  = #6bb8ff
color12 = #6bb8ff

# Purple
color5  = #e799ff
color13 = #e799ff

# Teal
color6  = #8af5ff
color14 = #8af5ff

# Extra colors
color16 = #ffc387
color17 = #b3684f
color18 = #282828
color19 = #585858
color20 = #c8c8c8
color21 = #ffffff
