[colors]
# Base16 Horizon Dark
# Author: Michaël Ball (http://github.com/michael-ball/)

foreground          = #CBCED0
foreground_bold     = #CBCED0
cursor              = #CBCED0
cursor_foreground   = #1C1E26
background          = #1C1E26

# 16 color space

# Black, Gray, Silver, White
color0  = #1C1E26
color8  = #6F6F70
color7  = #CBCED0
color15 = #E3E6EE

# Red
color1  = #E95678
color9  = #E95678

# Green
color2  = #29D398
color10 = #29D398

# Yellow
color3  = #FAC29A
color11 = #FAC29A

# Blue
color4  = #26BBD9
color12 = #26BBD9

# Purple
color5  = #EE64AC
color13 = #EE64AC

# Teal
color6  = #59E1E3
color14 = #59E1E3

# Extra colors
color16 = #FAB795
color17 = #F09383
color18 = #232530
color19 = #2E303E
color20 = #9DA0A2
color21 = #DCDFE4
