[colors]
# Base16 Zenburn
# Author: elnawe

foreground          = #dcdccc
foreground_bold     = #dcdccc
cursor              = #dcdccc
cursor_foreground   = #383838
background          = #383838

# 16 color space

# Black, Gray, Silver, White
color0  = #383838
color8  = #6f6f6f
color7  = #dcdccc
color15 = #ffffff

# Red
color1  = #dca3a3
color9  = #dca3a3

# Green
color2  = #5f7f5f
color10 = #5f7f5f

# Yellow
color3  = #e0cf9f
color11 = #e0cf9f

# Blue
color4  = #7cb8bb
color12 = #7cb8bb

# Purple
color5  = #dc8cc3
color13 = #dc8cc3

# Teal
color6  = #93e0e3
color14 = #93e0e3

# Extra colors
color16 = #dfaf8f
color17 = #000000
color18 = #404040
color19 = #606060
color20 = #808080
color21 = #c0c0c0
