[colors]
# Base16 OneDark Dark
# Scheme author: olimorris (https://github.com/olimorris)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #abb2bf
foreground_bold     = #abb2bf
cursor              = #abb2bf
cursor_foreground   = #000000
background          = #000000

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #434852
color7  = #abb2bf
color15 = #c8ccd4

# Red
color1  = #ef596f
color9  = #ef596f

# Green
color2  = #89ca78
color10 = #89ca78

# Yellow
color3  = #e5c07b
color11 = #e5c07b

# Blue
color4  = #61afef
color12 = #61afef

# Purple
color5  = #d55fde
color13 = #d55fde

# Teal
color6  = #2bbac5
color14 = #2bbac5

# Extra colors
color16 = #d19a66
color17 = #be5046
color18 = #1c1f24
color19 = #2c313a
color20 = #565c64
color21 = #b6bdca
