[colors]
# Base16 Porple
# Author: Niek den Breeje (https://github.com/AuditeMarlow)

foreground          = #d8d8d8
foreground_bold     = #e8e8e8
cursor              = #e8e8e8
cursor_foreground   = #292c36
background          = rgba(41, 44, 54)

# 16 color space

# Black, Gray, Silver, White
color0  = #292c36
color8  = #65568a
color7  = #d8d8d8
color15 = #f8f8f8

# Red
color1  = #f84547
color9  = #f84547

# Green
color2  = #95c76f
color10 = #95c76f

# Yellow
color3  = #efa16b
color11 = #efa16b

# Blue
color4  = #8485ce
color12 = #8485ce

# Purple
color5  = #b74989
color13 = #b74989

# Teal
color6  = #64878f
color14 = #64878f

# Extra colors
color16 = #d28e5d
color17 = #986841
color18 = #333344
color19 = #474160
color20 = #b8b8b8
color21 = #e8e8e8
