[colors]
# Base16 Material Palenight
# Author: Nate Peterson

foreground          = #959DCB
foreground_bold     = #959DCB
cursor              = #959DCB
cursor_foreground   = #292D3E
background          = rgba(41, 45, 62)

# 16 color space

# Black, Gray, Silver, White
color0  = #292D3E
color8  = #676E95
color7  = #959DCB
color15 = #FFFFFF

# Red
color1  = #F07178
color9  = #F07178

# Green
color2  = #C3E88D
color10 = #C3E88D

# Yellow
color3  = #FFCB6B
color11 = #FFCB6B

# Blue
color4  = #82AAFF
color12 = #82AAFF

# Purple
color5  = #C792EA
color13 = #C792EA

# Teal
color6  = #89DDFF
color14 = #89DDFF

# Extra colors
color16 = #F78C6C
color17 = #FF5370
color18 = #444267
color19 = #32374D
color20 = #8796B0
color21 = #959DCB
