[colors]
# Base16 Atelier Sulphurpool Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

foreground          = #5e6687
foreground_bold     = #5e6687
cursor              = #5e6687
cursor_foreground   = #f5f7ff
background          = #f5f7ff

# 16 color space

# Black, Gray, Silver, White
color0  = #f5f7ff
color8  = #898ea4
color7  = #5e6687
color15 = #202746

# Red
color1  = #c94922
color9  = #c94922

# Green
color2  = #ac9739
color10 = #ac9739

# Yellow
color3  = #c08b30
color11 = #c08b30

# Blue
color4  = #3d8fd1
color12 = #3d8fd1

# Purple
color5  = #6679cc
color13 = #6679cc

# Teal
color6  = #22a2c9
color14 = #22a2c9

# Extra colors
color16 = #c76b29
color17 = #9c637a
color18 = #dfe2f1
color19 = #979db4
color20 = #6b7394
color21 = #293256
