[colors]
# Base16 Sakura
# Author: Misterio77 (http://github.com/Misterio77)

foreground          = #564448
foreground_bold     = #564448
cursor              = #564448
cursor_foreground   = #feedf3
background          = #feedf3

# 16 color space

# Black, Gray, Silver, White
color0  = #feedf3
color8  = #755f64
color7  = #564448
color15 = #33292b

# Red
color1  = #df2d52
color9  = #df2d52

# Green
color2  = #2e916d
color10 = #2e916d

# Yellow
color3  = #c29461
color11 = #c29461

# Blue
color4  = #006e93
color12 = #006e93

# Purple
color5  = #5e2180
color13 = #5e2180

# Teal
color6  = #1d8991
color14 = #1d8991

# Extra colors
color16 = #f6661e
color17 = #ba0d35
color18 = #f8e2e7
color19 = #e0ccd1
color20 = #665055
color21 = #42383a
