[colors]
# Base16 Framer
# Author: Framer (Maintained by Jesse Hoyos)

foreground          = #d0d0d0
foreground_bold     = #d0d0d0
cursor              = #d0d0d0
cursor_foreground   = #181818
background          = #181818

# 16 color space

# Black, Gray, Silver, White
color0  = #181818
color8  = #747474
color7  = #d0d0d0
color15 = #eeeeee

# Red
color1  = #fd886b
color9  = #fd886b

# Green
color2  = #32ccdc
color10 = #32ccdc

# Yellow
color3  = #fecb6e
color11 = #fecb6e

# Blue
color4  = #20bcfc
color12 = #20bcfc

# Purple
color5  = #ba8cfc
color13 = #ba8cfc

# Teal
color6  = #acddfd
color14 = #acddfd

# Extra colors
color16 = #fc4769
color17 = #b15f4a
color18 = #151515
color19 = #464646
color20 = #b9b9b9
color21 = #e8e8e8
