[colors]
# Base16 Atelier Seaside Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

foreground          = #5e6e5e
foreground_bold     = #242924
cursor              = #242924
cursor_foreground   = #f4fbf4
background          = rgba(244, 251, 244)

# 16 color space

# Black, Gray, Silver, White
color0  = #f4fbf4
color8  = #809980
color7  = #5e6e5e
color15 = #131513

# Red
color1  = #e6193c
color9  = #e6193c

# Green
color2  = #29a329
color10 = #29a329

# Yellow
color3  = #98981b
color11 = #98981b

# Blue
color4  = #3d62f5
color12 = #3d62f5

# Purple
color5  = #ad2bee
color13 = #ad2bee

# Teal
color6  = #1999b3
color14 = #1999b3

# Extra colors
color16 = #87711d
color17 = #e619c3
color18 = #cfe8cf
color19 = #8ca68c
color20 = #687d68
color21 = #242924
