[colors]
# Base16 Tokyo City Dark
# Author: Michaël Ball

foreground          = #d8e2ec
foreground_bold     = #d8e2ec
cursor              = #d8e2ec
cursor_foreground   = #171d23
background          = #171d23

# 16 color space

# Black, Gray, Silver, White
color0  = #171d23
color8  = #526270
color7  = #d8e2ec
color15 = #fbfbfd

# Red
color1  = #f7768e
color9  = #f7768e

# Green
color2  = #9ece6a
color10 = #9ece6a

# Yellow
color3  = #b7c5d3
color11 = #b7c5d3

# Blue
color4  = #7aa2f7
color12 = #7aa2f7

# Purple
color5  = #bb9af7
color13 = #bb9af7

# Teal
color6  = #89ddff
color14 = #89ddff

# Extra colors
color16 = #ff9e64
color17 = #bb9af7
color18 = #1d252c
color19 = #28323a
color20 = #b7c5d3
color21 = #f6f6f8
