[colors]
# Base16 Katy
# Author: George Essig (https://github.com/gessig)

foreground          = #959dcb
foreground_bold     = #959dcb
cursor              = #959dcb
cursor_foreground   = #292d3e
background          = #292d3e

# 16 color space

# Black, Gray, Silver, White
color0  = #292d3e
color8  = #676e95
color7  = #959dcb
color15 = #ffffff

# Red
color1  = #6e98e1
color9  = #6e98e1

# Green
color2  = #78c06e
color10 = #78c06e

# Yellow
color3  = #e0a557
color11 = #e0a557

# Blue
color4  = #82aaff
color12 = #82aaff

# Purple
color5  = #c792ea
color13 = #c792ea

# Teal
color6  = #83b7e5
color14 = #83b7e5

# Extra colors
color16 = #f78c6c
color17 = #ff5370
color18 = #444267
color19 = #5c598b
color20 = #8796b0
color21 = #959dcb
