[colors]
# Base16 tender
# Author: Jacobo Tabernero (https://github/com/jacoborus/tender.vim)

foreground          = #eeeeee
foreground_bold     = #eeeeee
cursor              = #eeeeee
cursor_foreground   = #282828
background          = #282828

# 16 color space

# Black, Gray, Silver, White
color0  = #282828
color8  = #4c4c4c
color7  = #eeeeee
color15 = #feffff

# Red
color1  = #f43753
color9  = #f43753

# Green
color2  = #c9d05c
color10 = #c9d05c

# Yellow
color3  = #ffc24b
color11 = #ffc24b

# Blue
color4  = #b3deef
color12 = #b3deef

# Purple
color5  = #d3b987
color13 = #d3b987

# Teal
color6  = #73cef4
color14 = #73cef4

# Extra colors
color16 = #dc9656
color17 = #a16946
color18 = #383838
color19 = #484848
color20 = #b8b8b8
color21 = #e8e8e8
