[colors]
# Base16 Apathy
# Author: Jannik Siebert (https://github.com/janniks)

foreground          = #81b5ac
foreground_bold     = #81b5ac
cursor              = #81b5ac
cursor_foreground   = #031a16
background          = #031a16

# 16 color space

# Black, Gray, Silver, White
color0  = #031a16
color8  = #2b685e
color7  = #81b5ac
color15 = #d2e7e4

# Red
color1  = #3e9688
color9  = #3e9688

# Green
color2  = #883e96
color10 = #883e96

# Yellow
color3  = #3e4c96
color11 = #3e4c96

# Blue
color4  = #96883e
color12 = #96883e

# Purple
color5  = #4c963e
color13 = #4c963e

# Teal
color6  = #963e4c
color14 = #963e4c

# Extra colors
color16 = #3e7996
color17 = #3e965b
color18 = #0b342d
color19 = #184e45
color20 = #5f9c92
color21 = #a7cec8
