[colors]
# Base16 vice
# Scheme author: Thomas Leon Highbaugh thighbaugh@zoho.com
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #8b9cbe
foreground_bold     = #8b9cbe
cursor              = #8b9cbe
cursor_foreground   = #17191e
background          = #17191e

# 16 color space

# Black, Gray, Silver, White
color0  = #17191e
color8  = #383a47
color7  = #8b9cbe
color15 = #f4f4f7

# Red
color1  = #ff29a8
color9  = #ff29a8

# Green
color2  = #0badff
color10 = #0badff

# Yellow
color3  = #f0ffaa
color11 = #f0ffaa

# Blue
color4  = #00eaff
color12 = #00eaff

# Purple
color5  = #00f6d9
color13 = #00f6d9

# Teal
color6  = #8265ff
color14 = #8265ff

# Extra colors
color16 = #85ffe0
color17 = #ff3d81
color18 = #22262d
color19 = #3c3f4c
color20 = #555e70
color21 = #b2bfd9
