[colors]
# Base16 Blueish
# Scheme author: Ben Mayoras
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #c8e1f8
foreground_bold     = #c8e1f8
cursor              = #c8e1f8
cursor_foreground   = #182430
background          = #182430

# 16 color space

# Black, Gray, Silver, White
color0  = #182430
color8  = #616d78
color7  = #c8e1f8
color15 = #8f98a0

# Red
color1  = #4ce587
color9  = #4ce587

# Green
color2  = #c3e88d
color10 = #c3e88d

# Yellow
color3  = #82aaff
color11 = #82aaff

# Blue
color4  = #82aaff
color12 = #82aaff

# Purple
color5  = #ff84dd
color13 = #ff84dd

# Teal
color6  = #5fd1ff
color14 = #5fd1ff

# Extra colors
color16 = #f6a85c
color17 = #bbd2e8
color18 = #243c54
color19 = #46290a
color20 = #74afe7
color21 = #ddeaf6
