[colors]
# Base16 Material Vivid
# Author: joshyrobot

foreground          = #80868b
foreground_bold     = #80868b
cursor              = #80868b
cursor_foreground   = #202124
background          = #202124

# 16 color space

# Black, Gray, Silver, White
color0  = #202124
color8  = #44464d
color7  = #80868b
color15 = #ffffff

# Red
color1  = #f44336
color9  = #f44336

# Green
color2  = #00e676
color10 = #00e676

# Yellow
color3  = #ffeb3b
color11 = #ffeb3b

# Blue
color4  = #2196f3
color12 = #2196f3

# Purple
color5  = #673ab7
color13 = #673ab7

# Teal
color6  = #00bcd4
color14 = #00bcd4

# Extra colors
color16 = #ff9800
color17 = #8d6e63
color18 = #27292c
color19 = #323639
color20 = #676c71
color21 = #9e9e9e
