[colors]
# Base16 Moonlight
# Scheme author: Jeremy Swinarton (https://github.com/jswinarton)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #a3ace1
foreground_bold     = #a3ace1
cursor              = #a3ace1
cursor_foreground   = #212337
background          = #212337

# 16 color space

# Black, Gray, Silver, White
color0  = #212337
color8  = #748cd6
color7  = #a3ace1
color15 = #ef43fa

# Red
color1  = #ff5370
color9  = #ff5370

# Green
color2  = #2df4c0
color10 = #2df4c0

# Yellow
color3  = #ffc777
color11 = #ffc777

# Blue
color4  = #40ffff
color12 = #40ffff

# Purple
color5  = #b994f1
color13 = #b994f1

# Teal
color6  = #04d1f9
color14 = #04d1f9

# Extra colors
color16 = #f67f81
color17 = #ecb2f0
color18 = #403c64
color19 = #596399
color20 = #a1abe0
color21 = #b4a4f4
