[colors]
# Base16 Horizon Dark
# Scheme author: Michaël Ball (http://github.com/michael-ball/)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #cbced0
foreground_bold     = #cbced0
cursor              = #cbced0
cursor_foreground   = #1c1e26
background          = #1c1e26

# 16 color space

# Black, Gray, Silver, White
color0  = #1c1e26
color8  = #6f6f70
color7  = #cbced0
color15 = #e3e6ee

# Red
color1  = #e93c58
color9  = #e93c58

# Green
color2  = #efaf8e
color10 = #efaf8e

# Yellow
color3  = #efb993
color11 = #efb993

# Blue
color4  = #df5273
color12 = #df5273

# Purple
color5  = #b072d1
color13 = #b072d1

# Teal
color6  = #24a8b4
color14 = #24a8b4

# Extra colors
color16 = #e58d7d
color17 = #e4a382
color18 = #232530
color19 = #2e303e
color20 = #9da0a2
color21 = #dcdfe4
