[colors]
# Base16 Sagelight
# Author: Carter Veldhuizen

foreground          = #383838
foreground_bold     = #383838
cursor              = #383838
cursor_foreground   = #f8f8f8
background          = #f8f8f8

# 16 color space

# Black, Gray, Silver, White
color0  = #f8f8f8
color8  = #b8b8b8
color7  = #383838
color15 = #181818

# Red
color1  = #fa8480
color9  = #fa8480

# Green
color2  = #a0d2c8
color10 = #a0d2c8

# Yellow
color3  = #ffdc61
color11 = #ffdc61

# Blue
color4  = #a0a7d2
color12 = #a0a7d2

# Purple
color5  = #c8a0d2
color13 = #c8a0d2

# Teal
color6  = #a2d6f5
color14 = #a2d6f5

# Extra colors
color16 = #ffaa61
color17 = #d2b2a0
color18 = #e8e8e8
color19 = #d8d8d8
color20 = #585858
color21 = #282828
