[colors]
# Base16 Horizon Light
# Author: Michaël Ball (http://github.com/michael-ball/)

foreground          = #403c3d
foreground_bold     = #403c3d
cursor              = #403c3d
cursor_foreground   = #fdf0ed
background          = #fdf0ed

# 16 color space

# Black, Gray, Silver, White
color0  = #fdf0ed
color8  = #bdb3b1
color7  = #403c3d
color15 = #201c1d

# Red
color1  = #f7939b
color9  = #f7939b

# Green
color2  = #94e1b0
color10 = #94e1b0

# Yellow
color3  = #fbe0d9
color11 = #fbe0d9

# Blue
color4  = #da103f
color12 = #da103f

# Purple
color5  = #1d8991
color13 = #1d8991

# Teal
color6  = #dc3318
color14 = #dc3318

# Extra colors
color16 = #f6661e
color17 = #e58c92
color18 = #fadad1
color19 = #f9cbbe
color20 = #948c8a
color21 = #302c2d
