[colors]
# Base16 Helios
# Author: Alex Meyer (https://github.com/reyemxela)

foreground          = #d5d5d5
foreground_bold     = #d5d5d5
cursor              = #d5d5d5
cursor_foreground   = #1d2021
background          = #1d2021

# 16 color space

# Black, Gray, Silver, White
color0  = #1d2021
color8  = #6f7579
color7  = #d5d5d5
color15 = #e5e5e5

# Red
color1  = #d72638
color9  = #d72638

# Green
color2  = #88b92d
color10 = #88b92d

# Yellow
color3  = #f19d1a
color11 = #f19d1a

# Blue
color4  = #1e8bac
color12 = #1e8bac

# Purple
color5  = #be4264
color13 = #be4264

# Teal
color6  = #1ba595
color14 = #1ba595

# Extra colors
color16 = #eb8413
color17 = #c85e0d
color18 = #383c3e
color19 = #53585b
color20 = #cdcdcd
color21 = #dddddd
