[colors]
# Base16 Snazzy
# Author: Chawye Hsu (https://github.com/h404bi) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)

foreground          = #eff0eb
foreground_bold     = #f1f1f0
cursor              = #f1f1f0
cursor_foreground   = #1e1f29
background          = rgba(30, 31, 41)

# 16 color space

# Black, Gray, Silver, White
color0  = #1e1f29
color8  = #78787e
color7  = #eff0eb
color15 = #f1f1f0

# Red
color1  = #ff5c57
color9  = #ff5c57

# Green
color2  = #5af78e
color10 = #5af78e

# Yellow
color3  = #f3f99d
color11 = #f3f99d

# Blue
color4  = #57c7ff
color12 = #57c7ff

# Purple
color5  = #ff6ac1
color13 = #ff6ac1

# Teal
color6  = #9aedfe
color14 = #9aedfe

# Extra colors
color16 = #ff9f43
color17 = #b2643c
color18 = #34353e
color19 = #4a4b53
color20 = #a5a5a9
color21 = #f1f1f0
