[colors]
# Base16 selenized-white
# Scheme author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #474747
foreground_bold     = #474747
cursor              = #474747
cursor_foreground   = #ffffff
background          = #ffffff

# 16 color space

# Black, Gray, Silver, White
color0  = #ffffff
color8  = #878787
color7  = #474747
color15 = #282828

# Red
color1  = #bf0000
color9  = #bf0000

# Green
color2  = #008400
color10 = #008400

# Yellow
color3  = #af8500
color11 = #af8500

# Blue
color4  = #0054cf
color12 = #0054cf

# Purple
color5  = #6b40c3
color13 = #6b40c3

# Teal
color6  = #009a8a
color14 = #009a8a

# Extra colors
color16 = #ba3700
color17 = #dd0f9d
color18 = #ebebeb
color19 = #cdcdcd
color20 = #878787
color21 = #282828
