[colors]
# Base16 Atelier Cave Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

foreground          = #585260
foreground_bold     = #585260
cursor              = #585260
cursor_foreground   = #efecf4
background          = #efecf4

# 16 color space

# Black, Gray, Silver, White
color0  = #efecf4
color8  = #7e7887
color7  = #585260
color15 = #19171c

# Red
color1  = #be4678
color9  = #be4678

# Green
color2  = #2a9292
color10 = #2a9292

# Yellow
color3  = #a06e3b
color11 = #a06e3b

# Blue
color4  = #576ddb
color12 = #576ddb

# Purple
color5  = #955ae7
color13 = #955ae7

# Teal
color6  = #398bc6
color14 = #398bc6

# Extra colors
color16 = #aa573c
color17 = #bf40bf
color18 = #e2dfe7
color19 = #8b8792
color20 = #655f6d
color21 = #26232a
