[colors]
# Base16 Embers Light
# Scheme author: Jannik Siebert (https://github.com/janniks)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #323b43
foreground_bold     = #323b43
cursor              = #323b43
cursor_foreground   = #d1d6db
background          = #d1d6db

# 16 color space

# Black, Gray, Silver, White
color0  = #d1d6db
color8  = #75808a
color7  = #323b43
color15 = #0f1316

# Red
color1  = #576d82
color9  = #576d82

# Green
color2  = #6d8257
color10 = #6d8257

# Yellow
color3  = #57826d
color11 = #57826d

# Blue
color4  = #82576d
color12 = #82576d

# Purple
color5  = #6d5782
color13 = #6d5782

# Teal
color6  = #826d57
color14 = #826d57

# Extra colors
color16 = #578282
color17 = #575782
color18 = #aeb6be
color19 = #909aa3
color20 = #47505a
color21 = #20262c
