[colors]
# Base16 Nova
# Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)

foreground          = #C5D4DD
foreground_bold     = #C5D4DD
cursor              = #C5D4DD
cursor_foreground   = #3C4C55
background          = #3C4C55

# 16 color space

# Black, Gray, Silver, White
color0  = #3C4C55
color8  = #899BA6
color7  = #C5D4DD
color15 = #556873

# Red
color1  = #83AFE5
color9  = #83AFE5

# Green
color2  = #7FC1CA
color10 = #7FC1CA

# Yellow
color3  = #A8CE93
color11 = #A8CE93

# Blue
color4  = #83AFE5
color12 = #83AFE5

# Purple
color5  = #9A93E1
color13 = #9A93E1

# Teal
color6  = #F2C38F
color14 = #F2C38F

# Extra colors
color16 = #7FC1CA
color17 = #F2C38F
color18 = #556873
color19 = #6A7D89
color20 = #899BA6
color21 = #899BA6
