[colors]
# Base16 Aztec
# Scheme author: TheNeverMan (github.com/TheNeverMan)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #ffda51
foreground_bold     = #ffda51
cursor              = #ffda51
cursor_foreground   = #101600
background          = #101600

# 16 color space

# Black, Gray, Silver, White
color0  = #101600
color8  = #2e2e05
color7  = #ffda51
color15 = #ffeba0

# Red
color1  = #ee2e00
color9  = #ee2e00

# Green
color2  = #63d932
color10 = #63d932

# Yellow
color3  = #eebb00
color11 = #eebb00

# Blue
color4  = #5b4a9f
color12 = #5b4a9f

# Purple
color5  = #883e9f
color13 = #883e9f

# Teal
color6  = #3d94a5
color14 = #3d94a5

# Extra colors
color16 = #ee8800
color17 = #a928b9
color18 = #1a1e01
color19 = #242604
color20 = #ffd129
color21 = #ffe178
