[colors]
# Base16 Ayu Mirage
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;

foreground          = #cccac2
foreground_bold     = #cccac2
cursor              = #cccac2
cursor_foreground   = #171b24
background          = #171b24

# 16 color space

# Black, Gray, Silver, White
color0  = #171b24
color8  = #707a8c
color7  = #cccac2
color15 = #f3f4f5

# Red
color1  = #f28779
color9  = #f28779

# Green
color2  = #d5ff80
color10 = #d5ff80

# Yellow
color3  = #ffd173
color11 = #ffd173

# Blue
color4  = #5ccfe6
color12 = #5ccfe6

# Purple
color5  = #d4bfff
color13 = #d4bfff

# Teal
color6  = #95e6cb
color14 = #95e6cb

# Extra colors
color16 = #ffad66
color17 = #f29e74
color18 = #1f2430
color19 = #242936
color20 = #8a9199
color21 = #d9d7ce
