[colors]
# Base16 dirtysea
# Author: Kahlil (Kal) Hodgson

foreground          = #000000
foreground_bold     = #000000
cursor              = #000000
cursor_foreground   = #e0e0e0
background          = #e0e0e0

# 16 color space

# Black, Gray, Silver, White
color0  = #e0e0e0
color8  = #707070
color7  = #000000
color15 = #c4d9c4

# Red
color1  = #000090
color9  = #000090

# Green
color2  = #730073
color10 = #730073

# Yellow
color3  = #006565
color11 = #006565

# Blue
color4  = #007300
color12 = #007300

# Purple
color5  = #840000
color13 = #840000

# Teal
color6  = #755B00
color14 = #755B00

# Extra colors
color16 = #006565
color17 = #755B00
color18 = #d0d0d0
color19 = #c0c0c0
color20 = #202020
color21 = #f8f8f8
