[colors]
# Base16 Black Metal (Immortal)
# Author: metalelf0 (https://github.com/metalelf0)

foreground          = #c1c1c1
foreground_bold     = #999999
cursor              = #999999
cursor_foreground   = #000000
background          = rgba(0, 0, 0)

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #333333
color7  = #c1c1c1
color15 = #c1c1c1

# Red
color1  = #5f8787
color9  = #5f8787

# Green
color2  = #7799bb
color10 = #7799bb

# Yellow
color3  = #556677
color11 = #556677

# Blue
color4  = #888888
color12 = #888888

# Purple
color5  = #999999
color13 = #999999

# Teal
color6  = #aaaaaa
color14 = #aaaaaa

# Extra colors
color16 = #aaaaaa
color17 = #444444
color18 = #121212
color19 = #222222
color20 = #999999
color21 = #999999
