[colors]
# Base16 XCode Dusk
# Author: Elsa Gonsiorowski (https://github.com/gonsie)

foreground          = #939599
foreground_bold     = #939599
cursor              = #939599
cursor_foreground   = #282B35
background          = #282B35

# 16 color space

# Black, Gray, Silver, White
color0  = #282B35
color8  = #686A71
color7  = #939599
color15 = #BEBFC2

# Red
color1  = #B21889
color9  = #B21889

# Green
color2  = #DF0002
color10 = #DF0002

# Yellow
color3  = #438288
color11 = #438288

# Blue
color4  = #790EAD
color12 = #790EAD

# Purple
color5  = #B21889
color13 = #B21889

# Teal
color6  = #00A0BE
color14 = #00A0BE

# Extra colors
color16 = #786DC5
color17 = #C77C48
color18 = #3D4048
color19 = #53555D
color20 = #7E8086
color21 = #A9AAAE
