[colors]
# Base16 Atelier Forest Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

foreground          = #68615e
foreground_bold     = #2c2421
cursor              = #2c2421
cursor_foreground   = #f1efee
background          = rgba(241, 239, 238)

# 16 color space

# Black, Gray, Silver, White
color0  = #f1efee
color8  = #9c9491
color7  = #68615e
color15 = #1b1918

# Red
color1  = #f22c40
color9  = #f22c40

# Green
color2  = #7b9726
color10 = #7b9726

# Yellow
color3  = #c38418
color11 = #c38418

# Blue
color4  = #407ee7
color12 = #407ee7

# Purple
color5  = #6666ea
color13 = #6666ea

# Teal
color6  = #3d97b8
color14 = #3d97b8

# Extra colors
color16 = #df5320
color17 = #c33ff3
color18 = #e6e2e0
color19 = #a8a19f
color20 = #766e6b
color21 = #2c2421
