[colors]
# Base16 Apprentice
# Scheme author: romainl
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #5f5f87
foreground_bold     = #5f5f87
cursor              = #5f5f87
cursor_foreground   = #262626
background          = #262626

# 16 color space

# Black, Gray, Silver, White
color0  = #262626
color8  = #87875f
color7  = #5f5f87
color15 = #6c6c6c

# Red
color1  = #444444
color9  = #444444

# Green
color2  = #ffffaf
color10 = #ffffaf

# Yellow
color3  = #87af87
color11 = #87af87

# Blue
color4  = #8787af
color12 = #8787af

# Purple
color5  = #5fafaf
color13 = #5fafaf

# Teal
color6  = #87afd7
color14 = #87afd7

# Extra colors
color16 = #ff8700
color17 = #bcbcbc
color18 = #af5f5f
color19 = #5f875f
color20 = #5f87af
color21 = #5f8787
