[colors]
# Base16 Heetch Dark
# Author: Geoffrey Teale (tealeg@gmail.com)

foreground          = #BDB6C5
foreground_bold     = #BDB6C5
cursor              = #BDB6C5
cursor_foreground   = #190134
background          = #190134

# 16 color space

# Black, Gray, Silver, White
color0  = #190134
color8  = #7B6D8B
color7  = #BDB6C5
color15 = #FEFFFF

# Red
color1  = #27D9D5
color9  = #27D9D5

# Green
color2  = #C33678
color10 = #C33678

# Yellow
color3  = #8F6C97
color11 = #8F6C97

# Blue
color4  = #BD0152
color12 = #BD0152

# Purple
color5  = #82034C
color13 = #82034C

# Teal
color6  = #F80059
color14 = #F80059

# Extra colors
color16 = #5BA2B6
color17 = #470546
color18 = #392551
color19 = #5A496E
color20 = #9C92A8
color21 = #DEDAE2
