[colors]
# Base16 Precious Dark Eleven
# Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #b8b7b6
foreground_bold     = #b8b7b6
cursor              = #b8b7b6
cursor_foreground   = #1c1e20
background          = #1c1e20

# 16 color space

# Black, Gray, Silver, White
color0  = #1c1e20
color8  = #858585
color7  = #b8b7b6
color15 = #b8b7b6

# Red
color1  = #ff8782
color9  = #ff8782

# Green
color2  = #95b658
color10 = #95b658

# Yellow
color3  = #d0a543
color11 = #d0a543

# Blue
color4  = #68b0ee
color12 = #68b0ee

# Purple
color5  = #b799fe
color13 = #b799fe

# Teal
color6  = #42bda7
color14 = #42bda7

# Extra colors
color16 = #ea9755
color17 = #f382d8
color18 = #292b2d
color19 = #37393a
color20 = #a8a8a7
color21 = #b8b7b6
