[colors]
# Base16 DanQing Light
# Scheme author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #5a605d
foreground_bold     = #5a605d
cursor              = #5a605d
cursor_foreground   = #fcfefd
background          = #fcfefd

# 16 color space

# Black, Gray, Silver, White
color0  = #fcfefd
color8  = #cad8d2
color7  = #5a605d
color15 = #2d302f

# Red
color1  = #f9906f
color9  = #f9906f

# Green
color2  = #8ab361
color10 = #8ab361

# Yellow
color3  = #f0c239
color11 = #f0c239

# Blue
color4  = #b0a4e3
color12 = #b0a4e3

# Purple
color5  = #cca4e3
color13 = #cca4e3

# Teal
color6  = #30dff3
color14 = #30dff3

# Extra colors
color16 = #b38a61
color17 = #ca6924
color18 = #ecf6f2
color19 = #e0f0ef
color20 = #9da8a3
color21 = #434846
