[colors]
# Base16 darkmoss
# Author: Gabriel Avanzi (https://github.com/avanzzzi)

foreground          = #c7c7a5
foreground_bold     = #c7c7a5
cursor              = #c7c7a5
cursor_foreground   = #171e1f
background          = #171e1f

# 16 color space

# Black, Gray, Silver, White
color0  = #171e1f
color8  = #555e5f
color7  = #c7c7a5
color15 = #e1eaef

# Red
color1  = #ff4658
color9  = #ff4658

# Green
color2  = #499180
color10 = #499180

# Yellow
color3  = #fdb11f
color11 = #fdb11f

# Blue
color4  = #498091
color12 = #498091

# Purple
color5  = #9bc0c8
color13 = #9bc0c8

# Teal
color6  = #66d9ef
color14 = #66d9ef

# Extra colors
color16 = #e6db74
color17 = #d27b53
color18 = #252c2d
color19 = #373c3d
color20 = #818f80
color21 = #e3e3c8
