[colors]
# Base16 Ayu Light
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;

foreground          = #5c6773
foreground_bold     = #5c6773
cursor              = #5c6773
cursor_foreground   = #fafafa
background          = #fafafa

# 16 color space

# Black, Gray, Silver, White
color0  = #fafafa
color8  = #abb0b6
color7  = #5c6773
color15 = #1a1f29

# Red
color1  = #f07178
color9  = #f07178

# Green
color2  = #86b300
color10 = #86b300

# Yellow
color3  = #f2ae49
color11 = #f2ae49

# Blue
color4  = #36a3d9
color12 = #36a3d9

# Purple
color5  = #a37acc
color13 = #a37acc

# Teal
color6  = #4cbf99
color14 = #4cbf99

# Extra colors
color16 = #fa8d3e
color17 = #e6ba7e
color18 = #f3f4f5
color19 = #f8f9fa
color20 = #828c99
color21 = #242936
