[colors]
# Base16 Edge Light
# Author: cjayross (https://github.com/cjayross)

foreground          = #5e646f
foreground_bold     = #5e646f
cursor              = #5e646f
cursor_foreground   = #fafafa
background          = #fafafa

# 16 color space

# Black, Gray, Silver, White
color0  = #fafafa
color8  = #5e646f
color7  = #5e646f
color15 = #5e646f

# Red
color1  = #db7070
color9  = #db7070

# Green
color2  = #7c9f4b
color10 = #7c9f4b

# Yellow
color3  = #d69822
color11 = #d69822

# Blue
color4  = #6587bf
color12 = #6587bf

# Purple
color5  = #b870ce
color13 = #b870ce

# Teal
color6  = #509c93
color14 = #509c93

# Extra colors
color16 = #db7070
color17 = #509c93
color18 = #7c9f4b
color19 = #d69822
color20 = #6587bf
color21 = #b870ce
