[colors]
# Base16 Purpledream
# Author: malet

foreground          = #ddd0dd
foreground_bold     = #ddd0dd
cursor              = #ddd0dd
cursor_foreground   = #100510
background          = #100510

# 16 color space

# Black, Gray, Silver, White
color0  = #100510
color8  = #605060
color7  = #ddd0dd
color15 = #fff0ff

# Red
color1  = #ff1d0d
color9  = #ff1d0d

# Green
color2  = #14cc64
color10 = #14cc64

# Yellow
color3  = #f000a0
color11 = #f000a0

# Blue
color4  = #00a0f0
color12 = #00a0f0

# Purple
color5  = #b000d0
color13 = #b000d0

# Teal
color6  = #0075b0
color14 = #0075b0

# Extra colors
color16 = #ccae14
color17 = #6a2a3c
color18 = #302030
color19 = #403040
color20 = #bbb0bb
color21 = #eee0ee
