[colors]
# Base16 Material Darker 
# Author: Nate Peterson

foreground          = #eeffff
foreground_bold     = #eeffff
cursor              = #eeffff
cursor_foreground   = #212121
background          = rgba(33, 33, 33, 1)

# 16 color space

# Black, Gray, Silver, White
color0  = #212121
color8  = #4a4a4a
color7  = #eeffff
color15 = #ffffff

# Red
color1  = #f07178
color9  = #f07178

# Green
color2  = #c3e88d
color10 = #c3e88d

# Yellow
color3  = #ffcb6b
color11 = #ffcb6b

# Blue
color4  = #82aaff
color12 = #82aaff

# Purple
color5  = #c792ea
color13 = #c792ea

# Teal
color6  = #89ddff
color14 = #89ddff

# Extra colors
color16 = #f78c6c
color17 = #ff5370
color18 = #303030
color19 = #353535
color20 = #b2ccd6
color21 = #eeffff
