[colors]
# Base16 Sandcastle
# Author: George Essig (https://github.com/gessig)

foreground          = #a89984
foreground_bold     = #a89984
cursor              = #a89984
cursor_foreground   = #282c34
background          = #282c34

# 16 color space

# Black, Gray, Silver, White
color0  = #282c34
color8  = #665c54
color7  = #a89984
color15 = #fdf4c1

# Red
color1  = #83a598
color9  = #83a598

# Green
color2  = #528b8b
color10 = #528b8b

# Yellow
color3  = #a07e3b
color11 = #a07e3b

# Blue
color4  = #83a598
color12 = #83a598

# Purple
color5  = #d75f5f
color13 = #d75f5f

# Teal
color6  = #83a598
color14 = #83a598

# Extra colors
color16 = #a07e3b
color17 = #a87322
color18 = #2c323b
color19 = #3e4451
color20 = #928374
color21 = #d5c4a1
