[colors]
# Base16 Synth Midnight Terminal Light
# Author: Michaël Ball (http://github.com/michael-ball/)

foreground          = #28292a
foreground_bold     = #28292a
cursor              = #28292a
cursor_foreground   = #dddfe0
background          = #dddfe0

# 16 color space

# Black, Gray, Silver, White
color0  = #dddfe0
color8  = #a3a5a6
color7  = #28292a
color15 = #050608

# Red
color1  = #b53b50
color9  = #b53b50

# Green
color2  = #06ea61
color10 = #06ea61

# Yellow
color3  = #c9d364
color11 = #c9d364

# Blue
color4  = #03aeff
color12 = #03aeff

# Purple
color5  = #ea5ce2
color13 = #ea5ce2

# Teal
color6  = #42fff9
color14 = #42fff9

# Extra colors
color16 = #ea770d
color17 = #cd6320
color18 = #cfd1d2
color19 = #c1c3c4
color20 = #474849
color21 = #1a1b1c
