[colors]
# Base16 Hardcore
# Author: Chris Caller

foreground          = #cdcdcd
foreground_bold     = #cdcdcd
cursor              = #cdcdcd
cursor_foreground   = #212121
background          = #212121

# 16 color space

# Black, Gray, Silver, White
color0  = #212121
color8  = #4A4A4A
color7  = #cdcdcd
color15 = #ffffff

# Red
color1  = #f92672
color9  = #f92672

# Green
color2  = #a6e22e
color10 = #a6e22e

# Yellow
color3  = #e6db74
color11 = #e6db74

# Blue
color4  = #66d9ef
color12 = #66d9ef

# Purple
color5  = #9e6ffe
color13 = #9e6ffe

# Teal
color6  = #708387
color14 = #708387

# Extra colors
color16 = #fd971f
color17 = #e8b882
color18 = #303030
color19 = #353535
color20 = #707070
color21 = #e5e5e5
