[colors]
# Base16 Nord
# Scheme author: arcticicestudio
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #e5e9f0
foreground_bold     = #e5e9f0
cursor              = #e5e9f0
cursor_foreground   = #2e3440
background          = #2e3440

# 16 color space

# Black, Gray, Silver, White
color0  = #2e3440
color8  = #4c566a
color7  = #e5e9f0
color15 = #8fbcbb

# Red
color1  = #bf616a
color9  = #bf616a

# Green
color2  = #a3be8c
color10 = #a3be8c

# Yellow
color3  = #ebcb8b
color11 = #ebcb8b

# Blue
color4  = #81a1c1
color12 = #81a1c1

# Purple
color5  = #b48ead
color13 = #b48ead

# Teal
color6  = #88c0d0
color14 = #88c0d0

# Extra colors
color16 = #d08770
color17 = #5e81ac
color18 = #3b4252
color19 = #434c5e
color20 = #d8dee9
color21 = #eceff4
