[colors]
# Base16 Darktooth
# Author: Jason Milkins (https://github.com/jasonm23)

foreground          = #a89984
foreground_bold     = #a89984
cursor              = #a89984
cursor_foreground   = #1d2021
background          = #1d2021

# 16 color space

# Black, Gray, Silver, White
color0  = #1d2021
color8  = #665c54
color7  = #a89984
color15 = #fdf4c1

# Red
color1  = #fb543f
color9  = #fb543f

# Green
color2  = #95c085
color10 = #95c085

# Yellow
color3  = #fac03b
color11 = #fac03b

# Blue
color4  = #0d6678
color12 = #0d6678

# Purple
color5  = #8f4673
color13 = #8f4673

# Teal
color6  = #8ba59b
color14 = #8ba59b

# Extra colors
color16 = #fe8625
color17 = #a87322
color18 = #32302f
color19 = #504945
color20 = #928374
color21 = #d5c4a1
