[colors]
# Base16 Summerfruit Dark
# Scheme author: Christopher Corley (http://christop.club/)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #d0d0d0
foreground_bold     = #d0d0d0
cursor              = #d0d0d0
cursor_foreground   = #151515
background          = #151515

# 16 color space

# Black, Gray, Silver, White
color0  = #151515
color8  = #505050
color7  = #d0d0d0
color15 = #ffffff

# Red
color1  = #ff0086
color9  = #ff0086

# Green
color2  = #00c918
color10 = #00c918

# Yellow
color3  = #aba800
color11 = #aba800

# Blue
color4  = #3777e6
color12 = #3777e6

# Purple
color5  = #ad00a1
color13 = #ad00a1

# Teal
color6  = #1faaaa
color14 = #1faaaa

# Extra colors
color16 = #fd8900
color17 = #cc6633
color18 = #202020
color19 = #303030
color20 = #b0b0b0
color21 = #e0e0e0
