[colors]
# Base16 Shapeshifter
# Author: Tyler Benziger (http://tybenz.com)

foreground          = #102015
foreground_bold     = #102015
cursor              = #102015
cursor_foreground   = #f9f9f9
background          = #f9f9f9

# 16 color space

# Black, Gray, Silver, White
color0  = #f9f9f9
color8  = #555555
color7  = #102015
color15 = #000000

# Red
color1  = #e92f2f
color9  = #e92f2f

# Green
color2  = #0ed839
color10 = #0ed839

# Yellow
color3  = #dddd13
color11 = #dddd13

# Blue
color4  = #3b48e3
color12 = #3b48e3

# Purple
color5  = #f996e2
color13 = #f996e2

# Teal
color6  = #23edda
color14 = #23edda

# Extra colors
color16 = #e09448
color17 = #69542d
color18 = #e0e0e0
color19 = #ababab
color20 = #343434
color21 = #040404
