[colors]
# base16 Ayu Mirage
# Scheme author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #cccac2
foreground_bold     = #cccac2
cursor              = #cccac2
cursor_foreground   = #171b24
background          = #171b24

color0  = #171b24 # base00 - Black
color1  = #f28779 # base08 - Red
color2  = #d5ff80 # base0B - Green
color3  = #ffd173 # base0A - Yellow
color4  = #5ccfe6 # base0D - Blue
color5  = #d4bfff # base0E - Magenta
color6  = #95e6cb # base0C - Cyan
color7  = #cccac2 # base05 - White
color8  = #242936 # base02 - Bright Black
color9  = #f28779 # base08 - Bright Red
color10 = #d5ff80 # base0B - Bright Green
color11 = #ffd173 # base0A - Bright Yellow
color12 = #5ccfe6 # base0D - Bright Blue
color13 = #d4bfff # base0E - Bright Magenta
color14 = #95e6cb # base0C - Bright Cyan
color15 = #f3f4f5 # base07 - Bright White
color16 = #ffad66 # base09
color17 = #f29e74 # base0F
color18 = #1f2430 # base01
color19 = #242936 # base02
color20 = #8a9199 # base04
color21 = #d9d7ce # base06
