[colors]
# Base16 Framer
# Author: Framer (Maintained by Jesse Hoyos)

foreground          = #D0D0D0
foreground_bold     = #D0D0D0
cursor              = #D0D0D0
cursor_foreground   = #181818
background          = #181818

# 16 color space

# Black, Gray, Silver, White
color0  = #181818
color8  = #747474
color7  = #D0D0D0
color15 = #EEEEEE

# Red
color1  = #FD886B
color9  = #FD886B

# Green
color2  = #32CCDC
color10 = #32CCDC

# Yellow
color3  = #FECB6E
color11 = #FECB6E

# Blue
color4  = #20BCFC
color12 = #20BCFC

# Purple
color5  = #BA8CFC
color13 = #BA8CFC

# Teal
color6  = #ACDDFD
color14 = #ACDDFD

# Extra colors
color16 = #FC4769
color17 = #B15F4A
color18 = #151515
color19 = #464646
color20 = #B9B9B9
color21 = #E8E8E8
