[colors]
# Base16 Google Dark
# Author: Seth Wright (http://sethawright.com)

foreground          = #c5c8c6
foreground_bold     = #c5c8c6
cursor              = #c5c8c6
cursor_foreground   = #1d1f21
background          = #1d1f21

# 16 color space

# Black, Gray, Silver, White
color0  = #1d1f21
color8  = #969896
color7  = #c5c8c6
color15 = #ffffff

# Red
color1  = #cc342b
color9  = #cc342b

# Green
color2  = #198844
color10 = #198844

# Yellow
color3  = #fba922
color11 = #fba922

# Blue
color4  = #3971ed
color12 = #3971ed

# Purple
color5  = #a36ac7
color13 = #a36ac7

# Teal
color6  = #3971ed
color14 = #3971ed

# Extra colors
color16 = #f96a38
color17 = #3971ed
color18 = #282a2e
color19 = #373b41
color20 = #b4b7b4
color21 = #e0e0e0
