[colors]
# Base16 Measured Dark
# Scheme author: Measured (https://measured.co)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #dcdcdc
foreground_bold     = #dcdcdc
cursor              = #dcdcdc
cursor_foreground   = #00211f
background          = #00211f

# 16 color space

# Black, Gray, Silver, White
color0  = #00211f
color8  = #ababab
color7  = #dcdcdc
color15 = #f5f5f5

# Red
color1  = #ce7e8e
color9  = #ce7e8e

# Green
color2  = #56c16f
color10 = #56c16f

# Yellow
color3  = #bfac4e
color11 = #bfac4e

# Blue
color4  = #88b0da
color12 = #88b0da

# Purple
color5  = #b39be0
color13 = #b39be0

# Teal
color6  = #62c0be
color14 = #62c0be

# Extra colors
color16 = #dca37c
color17 = #d89aba
color18 = #003a38
color19 = #005453
color20 = #c3c3c3
color21 = #efefef
