[colors]
# Base16 Materia
# Scheme author: Defman21
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #cdd3de
foreground_bold     = #cdd3de
cursor              = #cdd3de
cursor_foreground   = #263238
background          = #263238

# 16 color space

# Black, Gray, Silver, White
color0  = #263238
color8  = #707880
color7  = #cdd3de
color15 = #ffffff

# Red
color1  = #ec5f67
color9  = #ec5f67

# Green
color2  = #8bd649
color10 = #8bd649

# Yellow
color3  = #ffcc00
color11 = #ffcc00

# Blue
color4  = #89ddff
color12 = #89ddff

# Purple
color5  = #82aaff
color13 = #82aaff

# Teal
color6  = #80cbc4
color14 = #80cbc4

# Extra colors
color16 = #ea9560
color17 = #ec5f67
color18 = #2c393f
color19 = #37474f
color20 = #c9ccd3
color21 = #d5dbe5
