[colors]
# Base16 Tokyo Night Terminal Light
# Author: Michaël Ball

foreground          = #4c505e
foreground_bold     = #4c505e
cursor              = #4c505e
cursor_foreground   = #d5d6db
background          = #d5d6db

# 16 color space

# Black, Gray, Silver, White
color0  = #d5d6db
color8  = #9699a3
color7  = #4c505e
color15 = #1a1b26

# Red
color1  = #8c4351
color9  = #8c4351

# Green
color2  = #33635c
color10 = #33635c

# Yellow
color3  = #8f5e15
color11 = #8f5e15

# Blue
color4  = #34548a
color12 = #34548a

# Purple
color5  = #5a4a78
color13 = #5a4a78

# Teal
color6  = #0f4b6e
color14 = #0f4b6e

# Extra colors
color16 = #965027
color17 = #655259
color18 = #cbccd1
color19 = #dfe0e5
color20 = #4c505e
color21 = #1a1b26
