[colors]
# Base16 Gruvbox light, medium
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

foreground          = #504945
foreground_bold     = #3c3836
cursor              = #3c3836
cursor_foreground   = #fbf1c7
background          = rgba(251, 241, 199)

# 16 color space

# Black, Gray, Silver, White
color0  = #fbf1c7
color8  = #bdae93
color7  = #504945
color15 = #282828

# Red
color1  = #9d0006
color9  = #9d0006

# Green
color2  = #79740e
color10 = #79740e

# Yellow
color3  = #b57614
color11 = #b57614

# Blue
color4  = #076678
color12 = #076678

# Purple
color5  = #8f3f71
color13 = #8f3f71

# Teal
color6  = #427b58
color14 = #427b58

# Extra colors
color16 = #af3a03
color17 = #d65d0e
color18 = #ebdbb2
color19 = #d5c4a1
color20 = #665c54
color21 = #3c3836
