[colors]
# Base16 Windows NT
# Author: Fergus Collins (https://github.com/C-Fergus)

foreground          = #c0c0c0
foreground_bold     = #c0c0c0
cursor              = #c0c0c0
cursor_foreground   = #000000
background          = #000000

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #808080
color7  = #c0c0c0
color15 = #ffffff

# Red
color1  = #ff0000
color9  = #ff0000

# Green
color2  = #00ff00
color10 = #00ff00

# Yellow
color3  = #ffff00
color11 = #ffff00

# Blue
color4  = #0000ff
color12 = #0000ff

# Purple
color5  = #ff00ff
color13 = #ff00ff

# Teal
color6  = #00ffff
color14 = #00ffff

# Extra colors
color16 = #808000
color17 = #008000
color18 = #2a2a2a
color19 = #555555
color20 = #a1a1a1
color21 = #e0e0e0
