[colors]
# Base16 Synth Midnight Terminal Dark
# Author: Michaël Ball (http://github.com/michael-ball/)

foreground          = #c1c3c4
foreground_bold     = #c1c3c4
cursor              = #c1c3c4
cursor_foreground   = #050608
background          = #050608

# 16 color space

# Black, Gray, Silver, White
color0  = #050608
color8  = #474849
color7  = #c1c3c4
color15 = #dddfe0

# Red
color1  = #b53b50
color9  = #b53b50

# Green
color2  = #06ea61
color10 = #06ea61

# Yellow
color3  = #c9d364
color11 = #c9d364

# Blue
color4  = #03aeff
color12 = #03aeff

# Purple
color5  = #ea5ce2
color13 = #ea5ce2

# Teal
color6  = #42fff9
color14 = #42fff9

# Extra colors
color16 = #ea770d
color17 = #cd6320
color18 = #1a1b1c
color19 = #28292a
color20 = #a3a5a6
color21 = #cfd1d2
