[colors]
# Base16 Gruvbox Material Light, Medium
# Author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)

foreground          = #654735
foreground_bold     = #654735
cursor              = #654735
cursor_foreground   = #fbf1c7
background          = #fbf1c7

# 16 color space

# Black, Gray, Silver, White
color0  = #fbf1c7
color8  = #bdae93
color7  = #654735
color15 = #282828

# Red
color1  = #c14a4a
color9  = #c14a4a

# Green
color2  = #6c782e
color10 = #6c782e

# Yellow
color3  = #b47109
color11 = #b47109

# Blue
color4  = #45707a
color12 = #45707a

# Purple
color5  = #945e80
color13 = #945e80

# Teal
color6  = #4c7a5d
color14 = #4c7a5d

# Extra colors
color16 = #c35e0a
color17 = #e78a4e
color18 = #f2e5bc
color19 = #d5c4a1
color20 = #665c54
color21 = #3c3836
