[colors]
# Base16 Rosé Pine Moon
# Scheme author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #e0def4
foreground_bold     = #e0def4
cursor              = #e0def4
cursor_foreground   = #232136
background          = #232136

# 16 color space

# Black, Gray, Silver, White
color0  = #232136
color8  = #6e6a86
color7  = #e0def4
color15 = #56526e

# Red
color1  = #eb6f92
color9  = #eb6f92

# Green
color2  = #3e8fb0
color10 = #3e8fb0

# Yellow
color3  = #ea9a97
color11 = #ea9a97

# Blue
color4  = #c4a7e7
color12 = #c4a7e7

# Purple
color5  = #f6c177
color13 = #f6c177

# Teal
color6  = #9ccfd8
color14 = #9ccfd8

# Extra colors
color16 = #f6c177
color17 = #56526e
color18 = #2a273f
color19 = #393552
color20 = #908caa
color21 = #e0def4
