[colors]
# Base16 Brush Trees
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

foreground          = #6D828E
foreground_bold     = #5A6D7A
cursor              = #5A6D7A
cursor_foreground   = #E3EFEF
background          = rgba(227, 239, 239)

# 16 color space

# Black, Gray, Silver, White
color0  = #E3EFEF
color8  = #98AFB5
color7  = #6D828E
color15 = #485867

# Red
color1  = #b38686
color9  = #b38686

# Green
color2  = #87b386
color10 = #87b386

# Yellow
color3  = #aab386
color11 = #aab386

# Blue
color4  = #868cb3
color12 = #868cb3

# Purple
color5  = #b386b2
color13 = #b386b2

# Teal
color6  = #86b3b3
color14 = #86b3b3

# Extra colors
color16 = #d8bba2
color17 = #b39f9f
color18 = #C9DBDC
color19 = #B0C5C8
color20 = #8299A1
color21 = #5A6D7A
