[colors]
# Base16 Atelier Lakeside Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

foreground          = #516d7b
foreground_bold     = #516d7b
cursor              = #516d7b
cursor_foreground   = #ebf8ff
background          = #ebf8ff

# 16 color space

# Black, Gray, Silver, White
color0  = #ebf8ff
color8  = #7195a8
color7  = #516d7b
color15 = #161b1d

# Red
color1  = #d22d72
color9  = #d22d72

# Green
color2  = #568c3b
color10 = #568c3b

# Yellow
color3  = #8a8a0f
color11 = #8a8a0f

# Blue
color4  = #257fad
color12 = #257fad

# Purple
color5  = #6b6bb8
color13 = #6b6bb8

# Teal
color6  = #2d8f6f
color14 = #2d8f6f

# Extra colors
color16 = #935c25
color17 = #b72dd2
color18 = #c1e4f6
color19 = #7ea2b4
color20 = #5a7b8c
color21 = #1f292e
