[colors]
# Base16 standardized-light
# Scheme author: ali (https://github.com/ali-githb/base16-standardized-scheme)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #444444
foreground_bold     = #444444
cursor              = #444444
cursor_foreground   = #ffffff
background          = #ffffff

# 16 color space

# Black, Gray, Silver, White
color0  = #ffffff
color8  = #767676
color7  = #444444
color15 = #222222

# Red
color1  = #d03e3e
color9  = #d03e3e

# Green
color2  = #31861f
color10 = #31861f

# Yellow
color3  = #ad8200
color11 = #ad8200

# Blue
color4  = #3173c5
color12 = #3173c5

# Purple
color5  = #9e57c2
color13 = #9e57c2

# Teal
color6  = #00998f
color14 = #00998f

# Extra colors
color16 = #d7691d
color17 = #895025
color18 = #eeeeee
color19 = #cccccc
color20 = #767676
color21 = #333333
