[colors]
# Base16 Material Lighter
# Author: Nate Peterson

foreground          = #80CBC4
foreground_bold     = #80CBC4
cursor              = #80CBC4
cursor_foreground   = #FAFAFA
background          = rgba(250, 250, 250)

# 16 color space

# Black, Gray, Silver, White
color0  = #FAFAFA
color8  = #CCD7DA
color7  = #80CBC4
color15 = #FFFFFF

# Red
color1  = #FF5370
color9  = #FF5370

# Green
color2  = #91B859
color10 = #91B859

# Yellow
color3  = #FFB62C
color11 = #FFB62C

# Blue
color4  = #6182B8
color12 = #6182B8

# Purple
color5  = #7C4DFF
color13 = #7C4DFF

# Teal
color6  = #39ADB5
color14 = #39ADB5

# Extra colors
color16 = #F76D47
color17 = #E53935
color18 = #E7EAEC
color19 = #CCEAE7
color20 = #8796B0
color21 = #80CBC4
