[colors]
# Base16 Eva
# Author: kjakapat (https://github.com/kjakapat)

foreground          = #9fa2a6
foreground_bold     = #9fa2a6
cursor              = #9fa2a6
cursor_foreground   = #2a3b4d
background          = #2a3b4d

# 16 color space

# Black, Gray, Silver, White
color0  = #2a3b4d
color8  = #55799c
color7  = #9fa2a6
color15 = #ffffff

# Red
color1  = #c4676c
color9  = #c4676c

# Green
color2  = #66ff66
color10 = #66ff66

# Yellow
color3  = #ffff66
color11 = #ffff66

# Blue
color4  = #15f4ee
color12 = #15f4ee

# Purple
color5  = #9c6cd3
color13 = #9c6cd3

# Teal
color6  = #4b8f77
color14 = #4b8f77

# Extra colors
color16 = #ff9966
color17 = #bb64a9
color18 = #3d566f
color19 = #4b6988
color20 = #7e90a3
color21 = #d6d7d9
