[colors]
# Base16 Cupertino
# Author: Defman21

foreground          = #404040
foreground_bold     = #404040
cursor              = #404040
cursor_foreground   = #ffffff
background          = rgba(255, 255, 255)

# 16 color space

# Black, Gray, Silver, White
color0  = #ffffff
color8  = #808080
color7  = #404040
color15 = #5e5e5e

# Red
color1  = #c41a15
color9  = #c41a15

# Green
color2  = #007400
color10 = #007400

# Yellow
color3  = #826b28
color11 = #826b28

# Blue
color4  = #0000ff
color12 = #0000ff

# Purple
color5  = #a90d91
color13 = #a90d91

# Teal
color6  = #318495
color14 = #318495

# Extra colors
color16 = #eb8500
color17 = #826b28
color18 = #c0c0c0
color19 = #c0c0c0
color20 = #808080
color21 = #404040
