[colors]
# Base16 Rosé Pine Moon
# Scheme author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #e0def4
foreground_bold     = #e0def4
cursor              = #e0def4
cursor_foreground   = #232136
background          = #232136

# 16 color space

# Black, Gray, Silver, White
color0  = #232136
color8  = #59546d
color7  = #e0def4
color15 = #d9d7e1

# Red
color1  = #ecebf0
color9  = #ecebf0

# Green
color2  = #ea9a97
color10 = #ea9a97

# Yellow
color3  = #f6c177
color11 = #f6c177

# Blue
color4  = #9ccfd8
color12 = #9ccfd8

# Purple
color5  = #c4a7e7
color13 = #c4a7e7

# Teal
color6  = #3e8fb0
color14 = #3e8fb0

# Extra colors
color16 = #eb6f92
color17 = #b9b9bc
color18 = #2a273f
color19 = #393552
color20 = #817c9c
color21 = #f5f5f7
