[colors]
# Base16 Mellow Purple
# Author: gidsi

foreground          = #ffeeff
foreground_bold     = #ffeeff
cursor              = #ffeeff
cursor_foreground   = #1e0528
background          = rgba(30, 5, 40)

# 16 color space

# Black, Gray, Silver, White
color0  = #1e0528
color8  = #320f55
color7  = #ffeeff
color15 = #f8c0ff

# Red
color1  = #00d9e9
color9  = #00d9e9

# Green
color2  = #05cb0d
color10 = #05cb0d

# Yellow
color3  = #955ae7
color11 = #955ae7

# Blue
color4  = #550068
color12 = #550068

# Purple
color5  = #8991bb
color13 = #8991bb

# Teal
color6  = #b900b1
color14 = #b900b1

# Extra colors
color16 = #aa00a3
color17 = #4d6fff
color18 = #1A092D
color19 = #331354
color20 = #873582
color21 = #ffeeff
