[colors]
# Base16 Nebula
# Author: Gabriel Fontes (https://github.com/Misterio77)

foreground          = #a4a6a9
foreground_bold     = #a4a6a9
cursor              = #a4a6a9
cursor_foreground   = #22273b
background          = #22273b

# 16 color space

# Black, Gray, Silver, White
color0  = #22273b
color8  = #6e6f72
color7  = #a4a6a9
color15 = #8dbdaa

# Red
color1  = #777abc
color9  = #777abc

# Green
color2  = #6562a8
color10 = #6562a8

# Yellow
color3  = #4f9062
color11 = #4f9062

# Blue
color4  = #4d6bb6
color12 = #4d6bb6

# Purple
color5  = #716cae
color13 = #716cae

# Teal
color6  = #226f68
color14 = #226f68

# Extra colors
color16 = #94929e
color17 = #8c70a7
color18 = #414f60
color19 = #5a8380
color20 = #87888b
color21 = #c7c9cd
