[colors]
# Base16 Edge Dark
# Author: cjayross (https://github.com/cjayross)

foreground          = #b7bec9
foreground_bold     = #b7bec9
cursor              = #b7bec9
cursor_foreground   = #262729
background          = #262729

# 16 color space

# Black, Gray, Silver, White
color0  = #262729
color8  = #3e4249
color7  = #b7bec9
color15 = #3e4249

# Red
color1  = #e77171
color9  = #e77171

# Green
color2  = #a1bf78
color10 = #a1bf78

# Yellow
color3  = #dbb774
color11 = #dbb774

# Blue
color4  = #73b3e7
color12 = #73b3e7

# Purple
color5  = #d390e7
color13 = #d390e7

# Teal
color6  = #5ebaa5
color14 = #5ebaa5

# Extra colors
color16 = #e77171
color17 = #5ebaa5
color18 = #88909f
color19 = #b7bec9
color20 = #73b3e7
color21 = #d390e7
