[colors]
# Base16 Embers
# Author: Jannik Siebert (https://github.com/janniks)

foreground          = #a39a90
foreground_bold     = #a39a90
cursor              = #a39a90
cursor_foreground   = #16130f
background          = #16130f

# 16 color space

# Black, Gray, Silver, White
color0  = #16130f
color8  = #5a5047
color7  = #a39a90
color15 = #dbd6d1

# Red
color1  = #826d57
color9  = #826d57

# Green
color2  = #57826d
color10 = #57826d

# Yellow
color3  = #6d8257
color11 = #6d8257

# Blue
color4  = #6d5782
color12 = #6d5782

# Purple
color5  = #82576d
color13 = #82576d

# Teal
color6  = #576d82
color14 = #576d82

# Extra colors
color16 = #828257
color17 = #825757
color18 = #2c2620
color19 = #433b32
color20 = #8a8075
color21 = #beb6ae
