[colors]
# Base16 Material Palenight
# Author: Nate Peterson

foreground          = #959dcb
foreground_bold     = #959dcb
cursor              = #959dcb
cursor_foreground   = #292d3e
background          = rgba(i41, 45, 62, 1)

# 16 color space

# Black, Gray, Silver, White
color0  = #292d3e
color8  = #676e95
color7  = #959dcb
color15 = #ffffff

# Red
color1  = #f07178
color9  = #f07178

# Green
color2  = #c3e88d
color10 = #c3e88d

# Yellow
color3  = #ffcb6b
color11 = #ffcb6b

# Blue
color4  = #82aaff
color12 = #82aaff

# Purple
color5  = #c792ea
color13 = #c792ea

# Teal
color6  = #89ddff
color14 = #89ddff

# Extra colors
color16 = #f78c6c
color17 = #ff5370
color18 = #444267
color19 = #32374d
color20 = #8796b0
color21 = #959dcb
