[colors]
# Base16 Zenbones
# Author: mcchrish

foreground          = #b279a7
foreground_bold     = #b279a7
cursor              = #b279a7
cursor_foreground   = #191919
background          = #191919

# 16 color space

# Black, Gray, Silver, White
color0  = #191919
color8  = #b77e64
color7  = #b279a7
color15 = #bbbbbb

# Red
color1  = #3d3839
color9  = #3d3839

# Green
color2  = #d68c67
color10 = #d68c67

# Yellow
color3  = #8bae68
color11 = #8bae68

# Blue
color4  = #cf86c1
color12 = #cf86c1

# Purple
color5  = #65b8c1
color13 = #65b8c1

# Teal
color6  = #61abda
color14 = #61abda

# Extra colors
color16 = #e8838f
color17 = #8e8e8e
color18 = #de6e7c
color19 = #819b69
color20 = #6099c0
color21 = #66a5ad
