[colors]
# Base16 Tokyo Night Moon
# Scheme author: Ólafur Bjarki Bogason
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #3b4261
foreground_bold     = #3b4261
cursor              = #3b4261
cursor_foreground   = #222436
background          = #222436

# 16 color space

# Black, Gray, Silver, White
color0  = #222436
color8  = #636da6
color7  = #3b4261
color15 = #c8d3f5

# Red
color1  = #ff757f
color9  = #ff757f

# Green
color2  = #c3e88d
color10 = #c3e88d

# Yellow
color3  = #ffc777
color11 = #ffc777

# Blue
color4  = #82aaff
color12 = #82aaff

# Purple
color5  = #fca7ea
color13 = #fca7ea

# Teal
color6  = #86e1fc
color14 = #86e1fc

# Extra colors
color16 = #ffc777
color17 = #c53b53
color18 = #1e2030
color19 = #2d3f76
color20 = #828bb8
color21 = #828bb8
