[colors]
# Base16 Tomorrow Night
# Author: Chris Kempson (http://chriskempson.com)

foreground          = #cccccc
foreground_bold     = #cccccc
cursor              = #cccccc
cursor_foreground   = #2d2d2d
background          = #2d2d2d

# 16 color space

# Black, Gray, Silver, White
color0  = #2d2d2d
color8  = #999999
color7  = #cccccc
color15 = #ffffff

# Red
color1  = #f2777a
color9  = #f2777a

# Green
color2  = #99cc99
color10 = #99cc99

# Yellow
color3  = #ffcc66
color11 = #ffcc66

# Blue
color4  = #6699cc
color12 = #6699cc

# Purple
color5  = #cc99cc
color13 = #cc99cc

# Teal
color6  = #66cccc
color14 = #66cccc

# Extra colors
color16 = #f99157
color17 = #a3685a
color18 = #393939
color19 = #515151
color20 = #b4b7b4
color21 = #e0e0e0
