[colors]
# Base16 One Light
# Author: Daniel Pfeifer (http://github.com/purpleKarrot)

foreground          = #383A42
foreground_bold     = #202227
cursor              = #202227
cursor_foreground   = #FAFAFA
background          = rgba(250, 250, 250, 1) 

# 16 color space

# Black, Gray, Silver, White
color0  = #FAFAFA
color8  = #A0A1A7
color7  = #383A42
color15 = #090A0b

# Red
color1  = #CA1243
color9  = #CA1243

# Green
color2  = #50A14F
color10 = #50A14F

# Yellow
color3  = #C18401
color11 = #C18401

# Blue
color4  = #4078F2
color12 = #4078F2

# Purple
color5  = #A626A4
color13 = #A626A4

# Teal
color6  = #0184BC
color14 = #0184BC

# Extra colors
color16 = #D75F00
color17 = #986801
color18 = #F0F0F1
color19 = #E5E5E6
color20 = #696C77
color21 = #202227
