[colors]
# Base16 iA Light
# Author: iA Inc. (modified by aramisgithub)

foreground          = #181818
foreground_bold     = #181818
cursor              = #181818
cursor_foreground   = #f6f6f6
background          = #f6f6f6

# 16 color space

# Black, Gray, Silver, White
color0  = #f6f6f6
color8  = #898989
color7  = #181818
color15 = #f8f8f8

# Red
color1  = #9c5a02
color9  = #9c5a02

# Green
color2  = #38781c
color10 = #38781c

# Yellow
color3  = #c48218
color11 = #c48218

# Blue
color4  = #48bac2
color12 = #48bac2

# Purple
color5  = #a94598
color13 = #a94598

# Teal
color6  = #2d6bb1
color14 = #2d6bb1

# Extra colors
color16 = #c43e18
color17 = #8b6c37
color18 = #dedede
color19 = #bde5f2
color20 = #767676
color21 = #e8e8e8
